body {
  margin: 0;
  background-color:rgba(0, 119, 182, 1);
  text-align:left;
}
#headerbx {
  height:147px;
  background-color: #043F60;
}
#omegalbl {
  position:absolute;
  left:132px;
  top:29px;
  width:246px;
  height:40px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size: 30px;
  color:#FFFFFF;
}
#omegaicon_img {
  width:121px;
  height:126px;
}
#omegaicon {
  width:121px;
  height:126px;
  display:flex;
}
#searchandbtn {

}
#searchinput {
}
#searchtxt_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:54px;
  width:356px;
  height:30px;
  display:flex;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#searchtxt_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.mouseOver {
}
#searchtxt_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.focused {
}
#searchtxt_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.hint {
}
#searchtxt_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.mouseOver.hint {
}
#searchtxt_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.focused.hint {
}
#searchicon_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#searchicon {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:57px;
  width:24px;
  height:24px;
  display:flex;
}
#searchicon .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#searchicon_img.selected {
}
#searchicon.selected {
}
#searchicon_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#searchbtn_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#searchbtn {
  border-width:0px;
  position:absolute;
  left:1743px;
  top:54px;
  width:108px;
  height:30px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#searchbtn .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#searchbtn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#navbargrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#navbx {
  margin:0;
  position:absolute;
  left: 12px;
  top:164px;
  width:300px;
  height:1000px;
  color:#043F60;
  display:block;
  background-color: #F7F7FF;
  border-radius: 30px;

}
#general_ledger {
  position: absolute;
  left: 78px;
  top: 445px;
  width: 251px;
  height: 480px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
.nav_reports_links {
  display: none;
  padding:10px;
  background-color: #32404d;
  border: 1px solid black;
  font-size:16px;
}
.nav_reports_links:hover {
  background-color: #7dbce7;
  color: #043F60;
}
.nav_links_div {
  padding-top: 10px;
  padding-bottom: 10px;
  width:inherit;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
.nav_links_div:hover {
  background-color: #043F60;
  color: white;
}
.nav_links_div:active {
  background-color: #7dbce7;
}
.nav_link_p {
  margin-left: 60px;
}
#nav_user_info {
  width:inherit;
  height:226px;
  color:#F7F7FF;
  background-color: #7dbce7;
  border-radius: 30px 30px 0 0;
  display: table;
}
#username {
  width:inherit;
  padding-top: 10px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#043F60;
  text-align:center;
}
#role {
  padding-top: 10px;
  width:inherit;
  height:20px;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#usericon {
  margin-top: 10px;
  width:inherit;
  height: 100px;
  font-family:"Merriweather-Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align: center;
}
#about {
  position: absolute;
  bottom:15px;
  width:inherit;
  height:20px;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
  text-align: center;
}
#logoff {
  padding-top: 10px;
  width:inherit;
  height:35px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
  text-align:center;
}