body {
  margin: 0;
  background-color:rgba(0, 119, 182, 1);
  text-align:left;
}
#headerbx {
  height:147px;
  background-color: #043F60;
}
#omegalbl {
  position:absolute;
  left:132px;
  top:29px;
  width:246px;
  height:40px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size: 30px;
  color:#FFFFFF;
}
#omegaicon_img {
  width:121px;
  height:126px;
}
#omegaicon {
  width:121px;
  height:126px;
  display:flex;
}
#navbargrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#navbx {
  margin:0;
  position:absolute;
  left: 12px;
  top:164px;
  width:300px;
  height:1000px;
  color:#043F60;
  display:block;
  background-color: #F7F7FF;
  border-radius: 30px;

}
#general_ledger {
  position: absolute;
  left: 78px;
  top: 445px;
  width: 251px;
  height: 480px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
.nav_reports_links {
  display: none;
  padding:10px;
  background-color: #32404d;
  border: 1px solid black;
  font-size:16px;
}
.nav_reports_links:hover {
  background-color: #7dbce7;
  color: #043F60;
}
.nav_links_div {
  padding-top: 10px;
  padding-bottom: 10px;
  width:inherit;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
.nav_links_div:hover {
  background-color: #043F60;
  color: white;
}
.nav_links_div:active {
  background-color: #7dbce7;
}
.nav_link_p {
  margin-left: 60px;
}
#nav_user_info {
  width:inherit;
  height:226px;
  color:#F7F7FF;
  background-color: #7dbce7;
  border-radius: 30px 30px 0 0;
  display: table;
}
#username {
  width:inherit;
  padding-top: 10px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#043F60;
  text-align:center;
}
#role {
  padding-top: 10px;
  width:inherit;
  height:20px;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#usericon {
  margin-top: 10px;
  width:inherit;
  height: 100px;
  font-family:"Merriweather-Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align: center;
}
#about {
  position: absolute;
  bottom:15px;
  width:inherit;
  height:20px;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
  text-align: center;
}
#logoff {
  padding-top: 10px;
  width:inherit;
  height:35px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
  text-align:center;
}

#background_bx {
  position: absolute;
  left: 349px;
  top: 164px;
  width:1500px;
  height:auto;
  background-color: white;
  border-color: #797979FF;
  padding: 30px;
  font-size: 20px;
  color: #043F60;
}
#calendar {
  position: absolute;
  top: 70px;
  left: 400px;
  font-size: 20px;
  color:white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}