#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:249px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#043F60;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:164px;
  width:1060px;
  height:300px;
  display:flex;
  color:#043F60;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:168px;
  width:400px;
  height:33px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:249px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:426px;
  width:1060px;
  height:249px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:437px;
  width:400px;
  height:31px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:249px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:688px;
  width:1060px;
  height:249px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:692px;
  width:400px;
  height:31px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#dashboardbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:244px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#dashboardbx {
  border-width:0px;
  position:absolute;
  left:377px;
  top:948px;
  width:1060px;
  height:244px;
  display:flex;
}
#dashboardbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#dashboardbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#dashboardtxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#dashboardtxt {
  border-width:0px;
  position:absolute;
  left:393px;
  top:959px;
  width:125px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#dashboardtxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#dashboardtxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#currentratiobx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:#2A7F62;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#currentratiobx {
  border-width:0px;
  position:absolute;
  left:518px;
  top:986px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#currentratiobx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#currentratiobx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#assetturnoverbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#assetturnoverbx {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1098px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#assetturnoverbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#assetturnoverbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#quickratiobx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#quickratiobx {
  border-width:0px;
  position:absolute;
  left:824px;
  top:986px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#quickratiobx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#quickratiobx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#netprofitmargin_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#netprofitmargin {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1098px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#netprofitmargin .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#netprofitmargin_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonassetsbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonassetsbx {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:986px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonassetsbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#returnonassetsbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonequitybx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonequitybx {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:1098px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonequitybx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#returnonequitybx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#currentratiotxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#currentratiotxt {
  border-width:0px;
  position:absolute;
  left:559px;
  top:958px;
  width:125px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#currentratiotxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#currentratiotxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#quickratiotxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#quickratiotxt {
  border-width:0px;
  position:absolute;
  left:874px;
  top:958px;
  width:106px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#quickratiotxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#quickratiotxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonassetstxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonassetstxt {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:958px;
  width:156px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonassetstxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#returnonassetstxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonentitytxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonentitytxt {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:1070px;
  width:156px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonentitytxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#returnonentitytxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#netprofitmargintxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#netprofitmargintxt {
  border-width:0px;
  position:absolute;
  left:845px;
  top:1070px;
  width:164px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#netprofitmargintxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#netprofitmargintxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#assetturnovertxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#assetturnovertxt {
  border-width:0px;
  position:absolute;
  left:551px;
  top:1070px;
  width:141px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#assetturnovertxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#assetturnovertxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
