body {
  margin:0px;
  background-color:rgba(0, 119, 182, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:3000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#header_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:147px;
  background:inherit;
  background-color:rgba(4, 63, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#header {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:147px;
  display:flex;
}
#header .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#header_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#omegalbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#omegalbl {
  border-width:0px;
  position:absolute;
  left:132px;
  top:29px;
  width:324px;
  height:68px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#omegalbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#omegalbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#omegaicon_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:126px;
}
#omegaicon {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:126px;
  display:flex;
}
#omegaicon .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#omegaicon_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#usersgrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#usersbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:1298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
}
#usersbx {
  border-width:0px;
  position:absolute;
  left:349px;
  top:164px;
  width:1502px;
  height:1298px;
  display:flex;
  font-family:"Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
}
#usersbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usersbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#usersearchbtn_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 119, 182, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#usersearchbtn {
  border-width:0px;
  position:absolute;
  left:1732px;
  top:184px;
  width:102px;
  height:25px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#usersearchbtn .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usersearchbtn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#usersearch_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearch_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearch_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearch_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearch_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearch {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:184px;
  width:300px;
  height:25px;
  display:flex;
}
#usersearch .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usersearch_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearch.hint {
}
#usersearch_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearch.disabled {
}
#usersearch_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearch.hint.disabled {
}
#userlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#userlbl {
  border-width:0px;
  position:absolute;
  left:391px;
  top:177px;
  width:384px;
  height:40px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#userlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#userlbl_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#errorlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#errorlbl {
  border-width:0px;
  position:absolute;
  left:391px;
  top:343px;
  width:143px;
  height:22px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#errorlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#errorlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#createuser_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E98D7;
}
#createuser {
  border-width:0px;
  position:absolute;
  left:805px;
  top:190px;
  width:135px;
  height:20px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E98D7;
}
#createuser .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#createuser_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#navbarlinks {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#navbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:1009px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#043F60;
}
#navbx {
  border-width:0px;
  position:absolute;
  left:12px;
  top:164px;
  width:317px;
  height:1009px;
  display:flex;
  color:#043F60;
}
#navbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#navbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#chartaccounts_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#chartaccounts {
  border-width:0px;
  position:absolute;
  left:78px;
  top:445px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#chartaccounts .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#chartaccounts_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#accountsnav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#accountsnav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:480px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#accountsnav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#accountsnav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#usersnav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#usersnav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:515px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#usersnav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#usersnav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#eventlognav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#eventlognav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:550px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#eventlognav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#eventlognav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#reportsnav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#reportsnav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:585px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#reportsnav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#reportsnav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#homenav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#homenav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:410px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#homenav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#homenav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#emailnav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#emailnav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:655px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#emailnav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#emailnav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#myaccountnav_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#myaccountnav {
  border-width:0px;
  position:absolute;
  left:78px;
  top:620px;
  width:251px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#myaccountnav .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#myaccountnav_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#shadebx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:226px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F7F7FF;
}
#shadebx {
  border-width:0px;
  position:absolute;
  left:12px;
  top:164px;
  width:317px;
  height:226px;
  display:flex;
  color:#F7F7FF;
}
#shadebx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#shadebx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#icongrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#usernamelbl_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usernamelbl_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usernamelbl_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usernamelbl_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usernamelbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#043F60;
  text-align:center;
}
#usernamelbl {
  border-width:0px;
  position:absolute;
  left:98px;
  top:300px;
  width:134px;
  height:17px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#043F60;
  text-align:center;
}
#usernamelbl .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usernamelbl_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#043F60;
  text-align:center;
}
#usernamelbl.hint {
}
#usernamelbl_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#043F60;
  text-align:center;
}
#usernamelbl.disabled {
}
#usernamelbl_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#043F60;
  text-align:center;
}
#usernamelbl.hint.disabled {
}
#userrole_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#userrole_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#userrole_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#userrole_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#userrole_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#userrole {
  border-width:0px;
  position:absolute;
  left:98px;
  top:325px;
  width:134px;
  height:17px;
  display:flex;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#userrole .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#userrole_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#userrole.hint {
}
#userrole_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#userrole.disabled {
}
#userrole_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
  text-align:center;
}
#userrole.hint.disabled {
}
#usericon_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#usericon {
  border-width:0px;
  position:absolute;
  left:117px;
  top:191px;
  width:95px;
  height:100px;
  display:flex;
  font-family:"Merriweather-Regular", "Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#043F60;
}
#usericon .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usericon_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#logoff_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
  text-align:center;
}
#logoff {
  border-width:0px;
  position:absolute;
  left:92px;
  top:355px;
  width:146px;
  height:35px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
  text-align:center;
}
#logoff .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#logoff_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#searchtxtbtngrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#searchgrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#searchtxt_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:54px;
  width:356px;
  height:30px;
  display:flex;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#searchtxt_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.mouseOver {
}
#searchtxt_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.focused {
}
#searchtxt_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.hint {
}
#searchtxt_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.mouseOver.hint {
}
#searchtxt_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.focused.hint {
}
#searchicon_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#searchicon {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:57px;
  width:24px;
  height:24px;
  display:flex;
}
#searchicon .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#searchicon_img.selected {
}
#searchicon.selected {
}
#searchicon_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#searchbtn_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#searchbtn {
  border-width:0px;
  position:absolute;
  left:1743px;
  top:54px;
  width:108px;
  height:30px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#searchbtn .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#searchbtn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#aboutlink_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat SemiBold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#043F60;
}
#aboutlink {
  border-width:0px;
  position:absolute;
  left:148px;
  top:1125px;
  width:45px;
  height:18px;
  display:flex;
  font-family:"Montserrat SemiBold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#043F60;
}
#aboutlink .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#aboutlink_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#usertable {
  border-width:0px;
  position:absolute;
  left:391px;
  top:236px;
}
table {
	border-collapse: collapse;
    font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
tr {
	border-bottom: 1px solid black;
}
td{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
th {
}
tr:nth-child(even) {
  background-color: #DDECF5;
}