#accountsbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:1298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#accountsbx {
  border-width:0px;
  position:absolute;
  left:354px;
  top:164px;
  width:1567px;
  height:1298px;
  display:flex;
  font-family:"Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#accountsbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#accountsbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#accountslbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#accountslbl {
  border-width:0px;
  position:absolute;
  left:379px;
  top:194px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather Regular", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#accountslbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#accountslbl_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#addbtn_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#addbtn {
  border-width:0px;
  position:absolute;
  left:1669px;
  top:239px;
  width:234px;
  height:53px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#addbtn .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#addbtn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#accountcat_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#accountcat_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#accountcat_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountcat {
  border-width:0px;
  position:absolute;
  left:491px;
  top:278px;
  width:168px;
  height:25px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountcat .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#accountcat_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountcat.disabled {
}
.accountcat_input_option {
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#accountcatlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#accountcatlbl {
  border-width:0px;
  position:absolute;
  left:491px;
  top:247px;
  width:174px;
  height:22px;
  display:flex;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#accountcatlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#accountcatlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#accounttermlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#accounttermlbl {
  border-width:0px;
  position:absolute;
  left:696px;
  top:247px;
  width:208px;
  height:22px;
  display:flex;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#accounttermlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#accounttermlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#accountstatlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#accountstatlbl {
  border-width:0px;
  position:absolute;
  left:943px;
  top:247px;
  width:174px;
  height:22px;
  display:flex;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#accountstatlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#accountstatlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#date_filter {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:247px;
  width: 700px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#date_range_input {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:278px;
  width: 700px;
  height:25px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountsubcat_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#accountsubcat_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#accountterm_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountsubcat {
  border-width:0px;
  position:absolute;
  left:696px;
  top:278px;
  width:208px;
  height:25px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountsubcat .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#accountterm_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountsubcat.disabled {
}
.accountterm_input_option {
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#accountstatus_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#accountstatus_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#043F60;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#accountstatus_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountstatus {
  border-width:0px;
  position:absolute;
  left:943px;
  top:278px;
  width:168px;
  height:25px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountstatus .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#accountstatus_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#accountstatus.disabled {
}
.accountstatus_input_option {
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#filterbylbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#filterbylbl {
  border-width:0px;
  position:absolute;
  left:379px;
  top:264px;
  width:174px;
  height:22px;
  display:flex;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#filterbylbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#filterbylbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
table {
	position:absolute;
	left:379px;
	top:310px;
	width:1520px;
	text-align: center;
	color:#043F60;
    font-size: 16px;
}
th, td {
	border-bottom: 1px solid black;
}
#usersearchbtn_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 119, 182, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#usersearchbtn {
  border-width:0px;
  position:absolute;
  left:1807px;
  top:189px;
  width:102px;
  height:25px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#usersearchbtn .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usersearchbtn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#usersearchtxt_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearchtxt_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearchtxt_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearchtxt_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#usersearchtxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearchtxt {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:189px;
  width:300px;
  height:25px;
  display:flex;
}
#usersearchtxt .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#usersearchtxt_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearchtxt.hint {
}
#usersearchtxt_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearchtxt.disabled {
}
#usersearchtxt_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#usersearchtxt.hint.disabled {
}
tr:nth-child(even){
  background-color: #DDECF5;
}
th {
  background-color: white;
}
#edit_btn {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #1E98D7;
}

#deactivate_btn {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #D9001B;
}