#balance_lbl {
  position:absolute;
  right:40px;
}

#account_table_div {
  width:1500px;
  height:inherit;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#043F60;
}
#account_table {
  width: inherit;
}
th {
  border-bottom: 2px solid black;
}
td {
  border: 2px solid #043F60;
  padding:10px;
  font-size: 18px;
}
.ledger_entries:hover {
  background-color: #DDECF5;
}