#white_box {
    	position: absolute;
    	left: 349px;
 		top: 164px;
    	width:1500px;
    	height:1300px;
    	background-color: white;
    	border-color: #797979FF;
    	padding: 30px;
		font-size: 20px;
		color: #043F60;
	}
#event_log_header {
    	text-align: left;
    	font-family:'Merriweather-Bold', 'Merriweather Bold', 'Merriweather', sans-serif;
		font-weight: bold;
    	font-size:40px;
    	color: #0077B6FF;
		width:150px;
	}
table, td, tr, th {
    border-collapse: collapse;

}
th {
text-align: center;
}
td {
    vertical-align: top;
    padding: 5px;
}
tr:nth-child(even){
  background-color: #DDECF5;
}
.flex_container {
    display: flex;
}
#date_range{
		width:400px;
	}

