#white_box {
    	position: absolute;
    	left: 349px;
 		top: 164px;
    	width:1500px;
    	height:1300px;
    	background-color: white;
    	border-color: #797979FF;
    	padding: 30px;
		font-size: 20px;
		color: #043F60;
	}
#event_log_header {
    	text-align: left;
    	font-family:'Merriweather-Bold', 'Merriweather Bold', 'Merriweather', sans-serif;
		font-weight: bold;
    	font-size:40px;
    	color: #0077B6FF;
		width:150px;
	}
table, td, tr, th {
    border-collapse: collapse;
    width: 1520px;
}
th {
text-align: center;
}
td {
    vertical-align: top;
    padding: 5px;
}
tr:nth-child(even){
  background-color: #DDECF5;
}
th, td {
	border-bottom: 1px solid black;
}
.flex_container {
    display: flex;
}
#date_filter {
  border-width:0px;
  position:absolute;
  left:150px;
  top:95px;
  width: 700px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#date_range_input {
  border-width:0px;
  position:absolute;
  left:150px;
  top:120px;
  width: 700px;
  height:25px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#043F60;
}
#filterbylbl {
  border-width:0px;
  position:absolute;
  left:40px;
  top:120px;
  width:174px;
  height:22px;
  display:flex;
  font-family:"Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}

