#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:991px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:182px;
  width:1060px;
  height:991px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#043F60;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:202px;
  width:98px;
  height:39px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#043F60;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:51px;
  width:356px;
  height:30px;
  display:flex;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u23_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23.mouseOver {
}
#u23_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23.focused {
}
#u23_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23.hint {
}
#u23_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23.mouseOver.hint {
}
#u23_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Regular", "Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u23.focused.hint {
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:54px;
  width:24px;
  height:24px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img.selected {
}
#u24.selected {
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat SemiBold", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#043F60;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1100px;
  width:46px;
  height:18px;
  display:flex;
  font-family:"Montserrat SemiBold", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#043F60;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:51px;
  width:108px;
  height:30px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#ledger_group {
  border-width:0px;
  position:absolute;
  left:500px;
  top:307px;
  width:86px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#ledger_group .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#white_box_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#white_box {
  border-width:0px;
  position:absolute;
  left:758px;
  top:307px;
  width:217px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#white_box .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#white_box_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#search_btn_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#search_btn {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:307px;
  width:86px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#search_btn .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#search_btn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#search_bar_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#search_bar {
  border-width:0px;
  position:absolute;
  left:479px;
  top:586px;
  width:129px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#search_bar .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#account_name_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#account_name_lbl {
  border-width:0px;
  position:absolute;
  left:802px;
  top:586px;
  width:105px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#account_name_lbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#account_name_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#account_number_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#account_number {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:586px;
  width:145px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#account_number .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#account_number_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#balance_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#balance {
  border-width:0px;
  position:absolute;
  left:500px;
  top:876px;
  width:86px;
  height:35px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#043F60;
}
#balance .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#balance_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:342px;
  width:202px;
  height:95px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:342px;
  width:202px;
  height:190px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:342px;
  width:202px;
  height:228px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:621px;
  width:202px;
  height:209px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:621px;
  width:202px;
  height:38px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:621px;
  width:202px;
  height:57px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:911px;
  width:202px;
  height:76px;
  display:flex;
  font-family:"Montserrat-Regular", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
