{% extends "base_accountant.html" %}
{% block title %}Accountant Home{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename= 'files/accountant_home/styles.css')}}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <!-- Recent Accounts (Group) -->
      <div id="recentaccounts" class="ax_default" data-left="377" data-top="182" data-width="1060" data-height="300">

        <!-- Recent_Approved_Journal_Entries_Group (Group) -->
      <div id="u7" class="ax_default" data-label="Recent_Approved_Journal_Entries_Group" data-left="377" data-top="182" data-width="1060" data-height="300">

        <!-- Recent_Approved_Journal_Entries_Backdrop (Rectangle) -->
        <div id="u8" class="ax_default box_2" data-label="Recent_Approved_Journal_Entries_Backdrop">
          <div id="u8_div" class=""></div>
          <div id="u8_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Recent_Approved_Journal_Entries (Rectangle) -->
        <div id="u9" class="ax_default label" data-label="Recent_Approved_Journal_Entries">
          <div id="u9_div" class=""></div>
          <div id="u9_text" class="text ">
            <p><span>Recent Approved Journal Entries</span></p>
            <table style="width:1040px">
            <tr>
              <th style="width:150px">Date</th>
              <th style="width:150px">Type</th>
              <th style="width:45px">PR</th>
              <th style="width:150px">Created By</th>
              <th style="width:400px">Debit Accounts</th>
              <th style="width:200px">Credit Accounts</th>
              <th style="width:200px">Transfer Amount</th>
            </tr>
            <tbody>
            {% for entry in approved_entries %}
            <tr class="entries_info">
              <td>{{ entry.date }}</td>
              <td>{{ entry.type }}</td>
              <td><a href="{{ url_for('accountant_post_reference', post_reference=entry.id) }}">{{ entry.id }}</a></td>
              <td>{{ entry.created_by }}</td>
              <td>
                {% for x in range(0, (entry.debit_accounts|length)) %}
                <a href="{{ url_for('accountant_number_id', account_number=entry.debit_accounts_numbers[x]) }}">{{ entry.debit_accounts_numbers[x] }} </a>
                {% endfor %}
              </td>
              <td>
                {% for y in range(0, (entry.credit_accounts|length)) %}
                <a href="{{ url_for('accountant_number_id', account_number=entry.credit_accounts_numbers[y]) }}">{{ entry.credit_accounts_numbers[y] }} </a>
                {% endfor %}
              </td>
              <td>
                {{ "${:,.2f}".format(entry.credit_amounts|sum) }}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>

      <!-- Recent_Pending_Entries_Group (Group) -->
      <div id="u10" class="ax_default" data-label="Recent_Pending_Entries_Group" data-left="377" data-top="519" data-width="1060" data-height="300">

        <!-- Recent_Pending_Journal_Entries_Backdrop (Rectangle) -->
        <div id="u11" class="ax_default box_1" data-label="Recent_Pending_Journal_Entries_Backdrop">
          <div id="u11_div" class=""></div>
          <div id="u11_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Recent_Pending_Journal_Entries (Rectangle) -->
        <div id="u12" class="ax_default label" data-label="Recent_Pending_Journal_Entries">
          <div id="u12_div" class=""></div>
          <div id="u12_text" class="text ">
            <p><span>Recent Pending Journal Entries</span></p>
            <table style="width:1040px">
              <tr>
                <th style="width:150px">Date</th>
                <th style="width:150px">Type</th>
                <th style="width:45px">PR</th>
                <th style="width:150px">Created By</th>
                <th style="width:400px">Debit Accounts</th>
                <th style="width:200px">Credit Accounts</th>
                <th style="width:200px">Transfer Amount</th>
              </tr>
              <tbody>
              {% for entry in pending_entries %}
              <tr class="entries_info">
                <td>{{ entry.date }}</td>
                <td>{{ entry.type }}</td>
                <td><a href="{{ url_for('accountant_post_reference', post_reference=entry.id) }}">{{ entry.id }}</a></td>
                <td>{{ entry.created_by }}</td>
                <td>
                  {% for x in range(0, (entry.debit_accounts|length)) %}
                  <a href="{{ url_for('accountant_number_id', account_number=entry.debit_accounts_numbers[x]) }}">{{ entry.debit_accounts_numbers[x] }} </a>
                  {% endfor %}
                </td>
                <td>
                  {% for y in range(0, (entry.credit_accounts|length)) %}
                  <a href="{{ url_for('accountant_number_id', account_number=entry.credit_accounts_numbers[y]) }}">{{ entry.credit_accounts_numbers[y] }} </a>
                  {% endfor %}
                </td>
                <td>
                  {{ "${:,.2f}".format(entry.credit_amounts|sum) }}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

       <!-- Recent_Rejected_Journal_Entries_Group (Group) -->
      <div id="u13" class="ax_default" data-label="Recent_Rejected_Journal_Entries_Group" data-left="377" data-top="873" data-width="1060" data-height="300">

        <!-- Recent_Rejected_Journal_Entries_Backdrop (Rectangle) -->
        <div id="u14" class="ax_default box_1" data-label="Recent_Rejected_Journal_Entries_Backdrop">
          <div id="u14_div" class=""></div>
          <div id="u14_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Recent_Rejected_Journal_Entries (Rectangle) -->
        <div id="u15" class="ax_default label" data-label="Recent_Rejected_Journal_Entries">
          <div id="u15_div" class=""></div>
          <div id="u15_text" class="text ">
            <p><span>Recent Rejected Journal Entries</span></p>
            <table style="width:1040px">
              <tr>
                <th style="width:150px">Date</th>
                <th style="width:150px">Type</th>
                <th style="width:45px">PR</th>
                <th style="width:150px">Created By</th>
                <th style="width:400px">Debit Accounts</th>
                <th style="width:200px">Credit Accounts</th>
                <th style="width:200px">Transfer Amount</th>
              </tr>
              <tbody>
              {% for entry in rejected_entries %}
              <tr class="entries_info">
                <td>{{ entry.date }}</td>
                <td>{{ entry.type }}</td>
                <td><a href="{{ url_for('accountant_post_reference', post_reference=entry.id) }}">{{ entry.id }}</a></td>
                <td>{{ entry.created_by }}</td>
                <td>
                  {% for x in range(0, (entry.debit_accounts|length)) %}
                  <a href="{{ url_for('accountant_number_id', account_number=entry.debit_accounts_numbers[x]) }}">{{ entry.debit_accounts_numbers[x] }} </a>
                  {% endfor %}
                </td>
                <td>
                  {% for y in range(0, (entry.credit_accounts|length)) %}
                  <a href="{{ url_for('accountant_number_id', account_number=entry.credit_accounts_numbers[y]) }}">{{ entry.credit_accounts_numbers[y] }} </a>
                  {% endfor %}
                </td>
                <td>
                  {{ "${:,.2f}".format(entry.credit_amounts|sum) }}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
        <!-- DashBoard (Group) -->
      <div id="u34" class="ax_default" data-label="DashBoard" data-left="377" data-top="948" data-width="1060" data-height="244">

        <!-- Dashboard_Box (Rectangle) -->
        <div id="dashboardbx" class="ax_default box_1" data-label="Dashboard_Box">
          <div id="dashboardbx_div" class=""></div>
          <div id="dashboardbx_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

          <!-- Dashboard_Text (Rectangle) -->
        <div id="dashboardtxt" class="ax_default label" data-label="Dashboard_Text">
          <div id="dashboardtxt_div" class=""></div>
          <div id="dashboardtxt_text" class="text ">
            <p><span>Dashboard</span></p>
          </div>
        </div>
    <!-- Current_Ratio_Box (Rectangle) -->
      <div id="currentratiobx" class="ax_default box_1" data-label="Current_Ratio_Box">
        <div id="currentratiobx_div" class=""></div>
        <div id="currentratiobx_text" class="text " style="text-align: center">
          <p><span>515.62%</span></p>
        </div>
      </div>
    <!-- Asset_Turnover_Box (Rectangle) -->
      <div id="assetturnoverbx" class="ax_default box_1" data-label="Asset_Turnover_Box">
        <div id="assetturnoverbx_div" class=""></div>
        <div id="assetturnoverbx_text" class="text " style="text-align: center">
          <p><span>38.18%</span></p>
        </div>
      </div>

          <!-- Quick_Ratio_Box (Rectangle) -->
      <div id="quickratiobx" class="ax_default box_1" data-label="Quick_Ratio_Box">
        <div id="quickratiobx_div" class=""></div>
        <div id="quickratiobx_text" class="text " style="text-align: center">
          <p><span>515.62%</span></p>
        </div>
      </div>

          <!-- Net_Profit_Margin_Box (Rectangle) -->
      <div id="netprofitmargin" class="ax_default box_1" data-label="Net_Profit_Margin_Box">
        <div id="netprofitmargin_div" class=""></div>
        <div id="netprofitmargin_text" class="text " style="text-align: center">
          <p><span>49.67%</span></p>
        </div>
      </div>

           <!-- Return_on_Assets_Box (Rectangle) -->
      <div id="returnonassetsbx" class="ax_default box_1" data-label="Return_on_Assets_Box">
        <div id="returnonassetsbx_div" class=""></div>
        <div id="returnonassetsbx_text" class="text " style="text-align: center">
          <p><span>18.96%</span></p>
        </div>
      </div>

      <!-- Return_on_Equity_Box (Rectangle) -->
      <div id="returnonequitybx" class="ax_default box_1" data-label="Return_on_Equity_Box">
        <div id="returnonequitybx_div" class=""></div>
        <div id="returnonequitybx_text" class="text " style="text-align: center">
          <p><span>28.02%</span></p>
        </div>
      </div>

      <!-- Current_Ratio_Text (Rectangle) -->
      <div id="currentratiotxt" class="ax_default label" data-label="Current_Ratio_Text">
        <div id="currentratiotxt_div" class=""></div>
        <div id="currentratiotxt_text" class="text ">
          <p><span>Current Ratio</span></p>
        </div>
      </div>

      <!-- Quick_Ratio_Text (Rectangle) -->
      <div id="quickratiotxt" class="ax_default label" data-label="Quick_Ratio_Text">
        <div id="quickratiotxt_div" class=""></div>
        <div id="quickratiotxt_text" class="text ">
          <p><span>Quick Ratio</span></p>
        </div>
      </div>

      <!-- Return_on_Assets_Text (Rectangle) -->
      <div id="returnonassetstxt" class="ax_default label" data-label="Return_on_Assets_Text">
        <div id="returnonassetstxt_div" class=""></div>
        <div id="returnonassetstxt_text" class="text ">
          <p><span>Return on Assets</span></p>
        </div>
      </div>

      <!-- Return_on_Equity_Text (Rectangle) -->
      <div id="returnonentitytxt" class="ax_default label" data-label="Return_on_Equity_Text">
        <div id="returnonentitytxt_div" class=""></div>
        <div id="returnonentitytxt_text" class="text ">
          <p><span>Return on Equity</span></p>
        </div>
      </div>

      <!-- Net_Profit_Margin_Text (Rectangle) -->
      <div id="netprofitmargintxt" class="ax_default label" data-label="Net_Profit_Margin_Text">
        <div id="netprofitmargintxt_div" class=""></div>
        <div id="netprofitmargintxt_text" class="text ">
          <p><span>Net Profit Margin</span></p>
        </div>
      </div>

      <!-- Asset_Turnover_Text (Rectangle) -->
      <div id="assetturnovertxt" class="ax_default label" data-label="Asset_Turnover_Text">
        <div id="assetturnovertxt_div" class=""></div>
        <div id="assetturnovertxt_text" class="text ">
          <p><span>Asset Turnover</span></p>
        </div>
      </div>
{% endblock %}