{% extends "base_accountant.html" %}
    {% block title %}{{ account.name }} Ledger{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/ledger/styles.css')}}" type="text/css" rel="stylesheet"/>
        <script src="{{ url_for('static', filename= 'files/ledger/data.js') }}"></script>
    {% endblock %}
    {% block content %}

      <div id="background_bx">
            <h1>{{ account.name }} Ledger</h1>
            <h2><span id="account_lbl">Account No. - {{ account.number }}</span><span id="balance_lbl">Balance: {{ "${:,.2f}".format(account.balance) }}</span></h2>
            <div id="filters">
                <div id="date_filter">
                    <label>Filter Date:<br>
                        <input id="start_date" class="filter_input" type="date" onchange="filter()"> to <input id="end_date" class="filter_input" type="date" onchange="filter()">
                    </label>
                </div>
                <div id="amount_filter">
                    <label>Filter Amount:<br>
                        <input id="start_amount" class="filter_input" type="number" placeholder="0.00"> to <input id="end_amount" class="filter_input" type="number" placeholder="0.00">
                        <input type="button" value="Enter" onclick="filter()">
                    </label>
                </div>
            </div>
            <div id="account_table_div">
                <table id="account_table">
                    <tr>
                        <th>Date</th>
                        <th>PR</th>
                        <th style="width: 600px">Description</th>
                        <th style="width: 200px">Debit</th>
                        <th style="width: 200px">Credit</th>
                        <th style="width: 200px">Balance</th>
                    </tr>
                    <tr class="ledger_entries">
                        <td>{{ account.date_created.strftime('%Y-%m-%d') }}</td>
                        <td></td>
                        <td>{{ account.name }} Created</td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">{{ account.initial_balance }}</td>
                    </tr>
                    {% for entry in ledger_entries %}
                    <tr class="ledger_entries">
                        <td>{{ entry.date }}</td>
                        <td><a href="{{ url_for('accountant_post_reference', post_reference=entry.pr_number) }}">{{ entry.pr_number }}</a></td>
                        <td>{{ entry.description }}</td>
                        <td style="text-align: right">
                            {% if entry.debit_amount != none %}
                                {{ "${:,.2f}".format(entry.debit_amount) }}
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            {% if entry.credit_amount != none %}
                                {{ "${:,.2f}".format(entry.credit_amount) }}
                            {% endif %}
                        </td>
                        <td style="text-align: right">{{ "${:,.2f}".format(entry.new_balance) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        <script>
        const now = new Date();
        let now_day = now.getDate();
        let now_month = now.getMonth();
        now_month = now_month + 1;
        let year = now.getFullYear();
        let date;
        if (now_month < 10) {
            if(now_day < 10) {
                date = "" + year + "-0" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-0" + now_month + "-" + now_day;
            }
        }
        else {
            if(now_day < 10){
                date = "" + year + "-" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-" + now_month + "-" + now_day;
            }
        }
        document.getElementById("end_date").value = date;
        document.getElementById("end_date").max = date;
        document.getElementById("start_date").max = date;
        </script>
        </div>
    {% endblock %}