<!DOCTYPE html>
<html>
  <head>
    <title>Ledger</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/ledger/styles.css')}}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u0" class="ax_default" data-left="0" data-top="0" data-width="3000" data-height="147">

        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="ax_default box_1">
          <div id="u1_div" class=""></div>
          <div id="u1_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2" class="ax_default heading_1">
          <div id="u2_div" class=""></div>
          <div id="u2_text" class="text ">
            <p><span>Omega Finance</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u3" class="ax_default image">
          <img id="u3_img" class="img " src="{{ url_for('static', filename= 'images/ledger/regen/u3.png')}}"/>
          <div id="u3_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u4" class="ax_default" data-left="1381" data-top="54" data-width="470" data-height="30">

          <!-- Unnamed (Rectangle) -->
          <div id="u5" class="ax_default button">
            <div id="u5_div" class=""></div>
            <div id="u5_text" class="text ">
              <p><span>Search</span></p>
            </div>
          </div>

          <!-- Search Input (Group) -->
          <div id="u6" class="ax_default" data-label="Search Input" data-left="1381" data-top="54" data-width="356" data-height="30">

            <!-- Text Input (Text Field) -->
            <div id="u7" class="ax_default text_field" data-label="Text Input">
              <div id="u7_div" class=""></div>
              <input id="u7_input" type="text" value="" class="u7_input"/>
            </div>

            <!-- Search Icon (Shape) -->
            <div id="u8" class="ax_default icon" data-label="Search Icon">
              <img id="u8_img" class="img " src="{{ url_for('static', filename= 'images/ledger/regen/search_icon_u8.svg')}}"/>
              <div id="u8_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Popup & Launcher (Group) -->
      <div id="u9" class="ax_default" data-label="Popup &amp; Launcher" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10" class="ax_default" data-left="12" data-top="164" data-width="317" data-height="1009">

        <!-- NavBar_Backdrop (Rectangle) -->
        <div id="u11" class="ax_default box_2" data-label="NavBar_Backdrop">
          <div id="u11_div" class=""></div>
          <div id="u11_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Chart_of_Accounts_Nav (Rectangle) -->
        <div id="u12" class="ax_default heading_2" data-label="Chart_of_Accounts_Nav">
          <div id="u12_div" class=""></div>
          <div id="u12_text" class="text ">
            <p><a href="{{ url_for('admin_chart_accounts')}}"><span>Chart of Accounts</span></a></p>
          </div>
        </div>

        <!-- Accounts_Nav (Rectangle) -->
        <div id="u13" class="ax_default heading_2" data-label="Accounts_Nav">
          <div id="u13_div" class=""></div>
          <div id="u13_text" class="text ">
              <p><a href="{{ url_for('admin_accounts')}}"><span>Accounts</span></a></p>
          </div>
        </div>

        <!-- Users_Nav (Rectangle) -->
        <div id="u14" class="ax_default heading_2" data-label="Users_Nav">
          <div id="u14_div" class=""></div>
          <div id="u14_text" class="text ">
              <p><a href="{{ url_for('admin_user_accounts')}}"><span>Users</span></a></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u15" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u15_div" class=""></div>
          <div id="u15_text" class="text ">
            <p><span>Event Log</span></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u16" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u16_div" class=""></div>
          <div id="u16_text" class="text ">
            <p><span>Reports</span></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u17" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u17_div" class=""></div>
          <div id="u17_text" class="text ">
              <p><a href="{{ url_for('admin_home_page')}}"><span>Home</span></a></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u18" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u18_div" class=""></div>
          <div id="u18_text" class="text ">
            <p><span>Email</span></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u19" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u19_div" class=""></div>
          <div id="u19_text" class="text ">
            <p><span>My Account</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u20" class="ax_default box_1">
          <div id="u20_div" class=""></div>
          <div id="u20_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- LinksIconName (Group) -->
        <div id="u21" class="ax_default" data-label="LinksIconName" data-left="98" data-top="191" data-width="134" data-height="151">

          <!-- UserName (Text Field) -->
          <div id="u22" class="ax_default label1" data-label="UserName">
            <div id="u22_div" class=""></div>
            <input id="u22_input" type="text" value="Jane Doe" class="u22_input"/>
          </div>

          <!-- UserType (Text Field) -->
          <div id="u23" class="ax_default label1" data-label="UserType">
            <div id="u23_div" class=""></div>
            <input id="u23_input" type="text" value="Administrator" class="u23_input"/>
          </div>

          <!-- UserIcon (Shape) -->
          <div id="u24" class="ax_default icon" data-label="UserIcon">
            <img id="u24_img" class="img " src="{{ url_for('static', filename= 'images/ledger/regen/usericon_u24.svg')}}"/>
            <div id="u24_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u25" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u25_div" class=""></div>
          <div id="u25_text" class="text ">
              <p><a href="{{ url_for('login_page')}}"><span>Logoff</span></a></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u26" class="ax_default label">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text ">
          <p><span>About</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u27" class="ax_default" data-left="362" data-top="164" data-width="1564" data-height="1298">

        <!-- White_Box (Rectangle) -->
        <div id="u28" class="ax_default box_1" data-label="White_Box">
          <div id="u28_div" class=""></div>
          <div id="u28_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- SearchButton (Rectangle) -->
        <div id="u29" class="ax_default primary_button" data-label="SearchButton">
          <div id="u29_div" class=""></div>
          <div id="u29_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>

        <!-- SearchBar (Text Field) -->
        <div id="u30" class="ax_default text_field" data-label="SearchBar">
          <div id="u30_div" class=""></div>
          <input id="u30_input" type="text" value="" class="u30_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u31" class="ax_default heading_1">
          <div id="u31_div" class=""></div>
          <div id="u31_text" class="text ">
            <p><span>{{ name }} Ledger</span></p>
          </div>
        </div>

        <!-- Account Number (Rectangle) -->
        <div id="u32" class="ax_default label" data-label="Account Number">
          <div id="u32_div" class=""></div>
          <div id="u32_text" class="text ">
            <p><span>Account No. {{ number }}</span></p>
          </div>
        </div>

        <!-- Balance (Rectangle) -->
        <div id="u33" class="ax_default label" data-label="Balance">
          <div id="u33_div" class=""></div>
          <div id="u33_text" class="text ">
            <p><span>Balance: {{ "$%.2f"|format(balance) }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
