{% extends "base_accountant.html" %}
    {% block title %}Income Statement{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/documentation/documentation_style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
        <div id="white_div">
            <h1>Retained Earnings</h1>
            <div id="header" class="report_style">
                <h1>Company Name</h1>
                <h2>Retained Earning Statement</h2>
                <h2>{date}</h2>
            </div>
            <div id="retained_div" class="report_style">
                <table id="retained_table">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="account_name_column">Retained Earnings,Begin {{ start_date }}</td>
                        <td class="money_value">{{ "${:,.2f}".format(retained_balance) }}</td>
                    </tr>
                    <tr>
                        <td class="account_name_column">Add: Net Income</td>
                        <td class="money_value">{{ "${:,.2f}".format(income_balance) }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ total_retained }}</td>
                    </tr>
                    <tr>
                        <td class="account_name_column">Less: Dividends</td>
                        <td class="money_value">{{ "${:,.2f}".format(dividends_amount) }}</td>
                    </tr>
                    <tr>
                        <td class="account_name_column">Retained Earnings,End {{ end_date }}</td>
                        <td id="total_retained" class="money_value">{{ "${:,.2f}".format(new_retained_balance) }}</td>
                    </tr>
                </table>
            </div>

        </div>
    {% endblock %}