{% extends "base_admin.html" %}
    {% block title %}Add To Chart of Accounts{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/add_to_chart_of_accounts/styles.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
        <div id="background_bx" style="width: 700px">
            <h1>Add Account to Chart</h1>
            <div id="shader_bx">
                <label>Account:
                    <select id="select_accounts">
                        <option value="">--Accounts--</option>
                    </select>
                </label><br><br>
                <label>Initial Balance:
                    <input id="balance_input" type="number" placeholder="0.00" required>
                </label>
            </div>
            <div id="buttons">
                <input id="back_btn" class="add_chart_buttons" type="button" value="Back">
                <input id="add_btn" class="add_chart_buttons" type="button" value="Add">
            </div>
        </div>
    {% endblock %}