{% extends "base_admin.html" %}
    {% block title %}Income Statement{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/documentation/documentation_style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
        <!-- White background Box-->
        <div id="white_div">
            <h1>Income Statement</h1>
            <input type="button" value="print" class="print_button" onclick="window.print()">
        <div id="div_print">
            <div id="header" class="report_style">
                <h1>Company Name</h1>
                <h2>Income Statement</h2>
                <h2 id="header_date"></h2>
            </div>
            <div id="income_statement" class="report_style">
                <table id="income_statement_table">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="account_name_column">Revenues</td>
                        <td></td>
                    </tr>
                    {% for r_acount in r_accounts %}
                    <tr>
                        <td class="account_name_column"><span style="margin-left: 50px">{{ r_acount.name }}</span></td>
                        <td class="money_value">{{ "${:,.2f}".format(r_acount.balance) }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="account_name_column">Total Revenue</td>
                        <td class="total">{{ "${:,.2f}".format(total_revenue) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="account_name_column">Expenses</td>
                        <td></td>
                    </tr>
                    {% for exp_account in exp_accounts %}
                    <tr>
                        <td class="account_name_column"><span style="margin-left: 50px">{{ exp_account.name }}</span></td>
                        <td class="money_value">{{ "${:,.2f}".format(exp_account.balance) }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="account_name_column">Total Expenses</td>
                        <td class="total">{{ "${:,.2f}".format(total_expenses) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="account_name_column">Net Income</td>
                        <td id="net_total">{{ "${:,.2f}".format(total_netIncome) }}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <script>
        const now = new Date();
        let now_day = now.getDate();
        let now_month = now.getMonth();
        now_month = now_month + 1;
        let year = now.getFullYear();
        let date;
        if (now_month < 10) {
            if(now_day < 10) {
                date = "" + year + "-0" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-0" + now_month + "-" + now_day;
            }
        }
        else {
            if(now_day < 10){
                date = "" + year + "-" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-" + now_month + "-" + now_day;
            }
        }
        document.getElementById("header_date").innerText = date;
        </script>
    {% endblock %}