{% extends "base_admin.html" %}
    {% block title %}Ledger{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/ledger/styles.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}

      <!-- Unnamed (Group) -->
      <div id="ledger_group" class="ax_default" data-left="362" data-top="164" data-width="1564" data-height="1298">

        <!-- White_Box (Rectangle) -->
        <div id="white_box" class="ax_default box_1" data-label="White_Box">
          <div id="white_box_div" class=""></div>
          <div id="white_box_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- SearchButton (Rectangle) -->
        <div id="search_btn" class="ax_default primary_button" data-label="SearchButton">
          <div id="search_btn_div" class=""></div>
          <div id="search_btn_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>

        <!-- SearchBar (Text Field) -->
        <div id="search_bar" class="ax_default text_field" data-label="SearchBar">
          <div id="search_bar_div" class=""></div>
          <input id="search_bar_input" type="text" value="" class="u30_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="account_name_lbl" class="ax_default heading_1">
          <div id="account_name_div" class=""></div>
          <div id="account_name_text" class="text ">
            <p><span>{{ name }} Ledger</span></p>
          </div>
        </div>

        <!-- Account Number (Rectangle) -->
        <div id="account_number" class="ax_default label" data-label="Account Number">
          <div id="account_number_div" class=""></div>
          <div id="account_number_text" class="text ">
            <p><span>Account No. {{ number }}</span></p>
          </div>
        </div>

        <!-- Balance (Rectangle) -->
        <div id="balance" class="ax_default label" data-label="Balance">
          <div id="balance_div" class=""></div>
          <div id="balance_text" class="text ">
            <p><span>Balance: {{ "${:,.2f}".format(balance) }}</span></p>
          </div>
        </div>
        <div id="account_table_div">
        <table id="account_table">
            <tr>
                <th>Date</th>
                <th>Post Reference</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
            </tr>
            <tr>
                <td>{{ account.date_created.strftime('%Y-%m-%d') }}</td>
                <td></td>
                <td>{{ account.name }} Created</td>
                <td></td>
                <td></td>
                <td>{{ account.initial_balance }}</td>
            </tr>
            {% for entry in ledger_entries %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.pr_number }}</td>
                <td>{{ entry.description }}</td>
                <td>
                    {% if entry.debit_amount != none %}
                        {{ "${:,.2f}".format(entry.debit_amount) }}
                    {% endif %}
                </td>
                <td>
                    {% if entry.credit_amount != none %}
                        {{ "${:,.2f}".format(entry.credit_amount) }}
                    {% endif %}
                </td>
                <td>{{ "${:,.2f}".format(entry.new_balance) }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
      </div>
    {% endblock %}