{% extends "base_admin.html" %}
    {% block title %}Create User{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/admincreateuser/styles.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename= 'files/admincreateuser/data.js') }}"></script>
    {% endblock %}
    {%  block content %}

        <form method="POST">
      <!-- Create New User Group (Group) -->
      <div id="createusergrp" class="ax_default" data-left="396" data-top="164" data-width="1373" data-height="787">

        <!-- Create User Background(Rectangle) -->
        <div id="createuserbx" class="ax_default box_3" data-label="Whitebox">
          <div id="createuserbx_div" class=""></div>
          <div id="createuserbx_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Create New User Box (Rectangle) -->
        <div id="formbx" class="ax_default box_1" data-label="White_Box">
          <div id="formbx_div" class=""></div>
          <div id="formbx_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- CreateUserHeader (Rectangle) -->
        <div id="createuserlbl" class="ax_default heading_1" data-label="CreateUserHeader">
          <div id="createuserlbl_div" class=""></div>
          <div id="createuserlbl_text" class="text ">
            <p><span>Create New User</span></p>
          </div>
        </div>

        <!-- Fnamelbl (Rectangle) -->
        <div id="fnamelbl" class="ax_default label" data-label="Fnamelbl">
          <div id="fnamelbl_div" class=""></div>
          <div id="fnamelbl_text" class="text ">
            <p><span>First Name</span></p>
          </div>
        </div>
		  
		<!-- fNametxtbx (Text Field) -->
        <div id="fnametxtbx" class="ax_default text_field" data-label="fNametxtbx">
          <div id="fnametxtbx_div" class=""></div>
          <input id="fnametxtbx_input" type="text" value="" class="u33_input" name="firstname" required/>
        </div>


        <!-- Lnamelbl (Rectangle) -->
        <div id="lnamelbl" class="ax_default label" data-label="Lnamelbl">
          <div id="lnamelbl_div" class=""></div>
          <div id="lnamelbl_text" class="text">
            <p><span>Last Name</span></p>
          </div>
        </div>
		  
		<!-- lnametxtbx (Text Field) -->
        <div id="lnametxtbx" class="ax_default text_field" data-label="lnametxtbx">
          <div id="lnametxtbx_div" class=""></div>
          <input id="lnametxtbx_input" type="text" value="" class="u34_input" name="lastname" required/>
        </div>

        <!-- DoBlbl (Rectangle) -->
        <div id="doblbl" class="ax_default label" data-label="DoBlbl">
          <div id="doblbl_div" class=""></div>
          <div id="doblbl_text" class="text ">
            <p><span>Date of Birth</span></p>
          </div>
        </div>

        <!-- dobtxtbx (Text Field) -->
        <div id="dobtxtbx" class="ax_default text_field" data-label="dobtxtbx">
          <div id="dobtxtbx_div" class=""></div>
          <input id="dobtxtbx_input" type="date" value="" class="u35_input" name="dob" required/>
        </div>

        <!-- addresslbl (Rectangle) -->
        <div id="addresslbl" class="ax_default label" data-label="addresslbl">
          <div id="addresslbl_div" class=""></div>
          <div id="addresslbl_text" class="text ">
            <p><span>Address</span></p>
          </div>
        </div>

        <!-- addresstxtbx (Text Field) -->
        <div id="addresstxtbx" class="ax_default text_field" data-label="addresstxtbx">
          <div id="addresstxtbx_div" class=""></div>
          <input id="addresstxtbx_input" type="text" value="" class="u37_input" name="street" required/>
        </div>
		  
        <!-- aptlbl (Rectangle) -->
        <div id="aptlbl" class="ax_default label" data-label="nplbl">
          <div id="aptlbl_div" class=""></div>
          <div id="aptlbl_text" class="text ">
            <p><span>Apt#</span></p>
          </div>
        </div>
		  
		<!-- apttxtbx (Text Field) -->
        <div id="apttxtbx" class="ax_default text_field" data-label="nptxtbx">
          <div id="apttxtbx_div" class=""></div>
          <input id="apttxtbx_input" type="text" value="" class="u51_input" name="aptnum"/>
        </div>
		  
		<!-- zipcodetxtbx (Text Field) -->
        <div id="zipcodetxtbx" class="ax_default text_field" data-label="nptxtbx">
          <div id="zipcodetxtbx_div" class=""></div>
          <input id="zipcodetxtbx_input" type="number" value="" class="u53_input" name="zipcode"/>
        </div>

        <!-- zipcodelbl (Rectangle) -->
        <div id="zipcodelbl" class="ax_default label" data-label="nplbl">
          <div id="zipcodelbl_div" class=""></div>
          <div id="zipcodelbl_text" class="text ">
            <p><span>Zipcode</span></p>
          </div>
        </div>
		  
		<!-- statelbl (Rectangle) -->
        <div id="statelbl" class="ax_default label" data-label="rolelbl">
          <div id="statelbl_div" class=""></div>
          <div id="statelbl_text" class="text ">
            <p><span>State</span></p>
          </div>
        </div>

        <!-- statedl (Droplist) -->
        <div id="statedl" class="ax_default droplist" data-label="Roledl">
          <div id="statedl_div" class=""></div>
          <select id="statedl_input" class="u50_input" name="state">
            <option class="statedl_input_option" value="Georgia">Georgia</option>
          </select>
        </div>
		  
		<!-- countrylbl (Rectangle) -->
        <div id="countrylbl" class="ax_default label" data-label="rolelbl">
          <div id="countrylbl_div" class=""></div>
          <div id="countrylbl_text" class="text ">
            <p><span>Country</span></p>
          </div>
        </div>

        <!-- countrydl (Droplist) -->
        <div id="countrydl" class="ax_default droplist" data-label="Roledl">
          <div id="countrydl_div" class=""></div>
          <select id="countrydl_input" class="u48_input" name="country">
            <option class="countrydl_input_option" value="United States">United States</option>
          </select>
        </div>
		  
		<!-- rolelbl (Rectangle) -->
        <div id="rolelbl" class="ax_default label" data-label="rolelbl">
          <div id="rolelbl_div" class=""></div>
          <div id="rolelbl_text" class="text ">
            <p><span>Role</span></p>
          </div>
        </div>

        <!-- Roledl (Droplist) -->
        <div id="roledl" class="ax_default droplist" data-label="Roledl">
          <div id="roledl_div" class=""></div>
          <select id="roledl_input" class="u40_input" name="role">
            <option class="roledl_input_option" value="Accountant">Accountant</option>
            <option class="roledl_input_option" value="Manager">Manager</option>
            <option class="roledl_input_option" value="Administrator">Administrator</option>
          </select>
        </div>
		  
        <!-- emaillbl (Rectangle) -->
        <div id="emaillbl" class="ax_default label" data-label="emaillbl">
          <div id="emaillbl_div" class=""></div>
          <div id="emaillbl_text" class="text ">
            <p><span>Email</span></p>
          </div>
        </div>
		  
		<!-- emailtxtbx (Text Field) -->
        <div id="emailtxt" class="ax_default text_field" data-label="emailtxtbx">
          <div id="emailtxt_div" class=""></div>
          <input id="emailtxt_input" type="email" value="" class="u28_input" name="email" required/>
        </div>

		<!-- nplbl (Rectangle) -->
        <div id="nplbl" class="ax_default label" data-label="nplbl">
          <div id="nplbl_div" class=""></div>
          <div id="nplbl_text" class="text ">
            <p><span>New Password</span></p>
          </div>
        </div>
		  
        <!-- nptxtbx (Text Field) -->
        <div id="nptxtbx" class="ax_default text_field" data-label="nptxtbx">
          <div id="nptxtbx_div" class=""></div>
          <input id="nptxtbx_input" type="password" value="" class="u41_input" name="password" oninput="validPassword()" required/>
        </div>
		  
        <!-- password Constraints lbl (Rectangle) -->
        <div id="passconlbl" class="ax_default label">
          <div id="passconlbl_div" class=""></div>
          <div id="passconlbl_text" class="text">
            <p><span>Password Constraints:</span></p>
          </div>
        </div>

        <!-- Password 8 Characters Label (Rectangle) -->
        <div id="password8char" class="ax_default label">
          <div id="password8char_div" class=""></div>
          <div id="password8char_text" class="text ">
            <p><span>At least 8 characters</span></p>
          </div>
        </div>

        <!-- Password Capital Letter Label (Rectangle) -->
        <div id="passwordcap" class="ax_default label">
          <div id="passwordcap_div" class=""></div>
          <div id="passwordcap_text" class="text ">
            <p><span>At least 1 capital Letter</span></p>
          </div>
        </div>

        <!-- Password Number Label (Rectangle) -->
        <div id="passwordnum" class="ax_default label">
          <div id="passwordnum_div" class=""></div>
          <div id="passwordnum_text" class="text ">
            <p><span>At least 1 number</span></p>
          </div>
        </div>

        <!-- Password Special Character Label (Rectangle) -->
        <div id="passwordspechar" class="ax_default label">
          <div id="passwordspechar_div" class=""></div>
          <div id="passwordspechar_text" class="text ">
            <p><span>At least 1 special character</span></p>
          </div>
        </div>

        <!-- Retype New Password Label (Rectangle) -->
        <div id="rnplbl" class="ax_default label" data-label="rnplbl">
          <div id="rnplbl_div" class=""></div>
          <div id="rnplbl_text" class="text ">
            <p><span>Retype new password</span></p>
          </div>
        </div>

        <!-- rpntxtbx (Text Field) -->
        <div id="rpntxtbx" class="ax_default text_field" data-label="rpntxtbx">
          <div id="rpntxtbx_div" class=""></div>
          <input id="rpntxtbx_input" type="password" value="" class="u44_input" name="password2" oninput="passwordMatch()" required/>
        </div>
		  
		<!-- Password Match Label (Rectangle) -->
        <div id="passwordmatch" class="ax_default label">
          <div id="passwordmatch_div" class=""></div>
          <div id="passwordmatch_text" class="text ">
            <p><span>Password Must Match</span></p>
          </div>
        </div>

        <!-- createbtn (Rectangle) -->
        <div id="createbtn" class="ax_default primary_button" data-label="createbtn">
          <input type="submit" value="Create User" title = "Create New User in the System" style="width: 100%; color: white; background-color: #2A7F62">
        </div>

        <!-- cancelbtn (Rectangle) -->
        <div id="cancelbtn" class="ax_default primary_button" data-label="cancelbtn">
          <input type="button" value="Cancel" title = "Return to Previous Page" onclick="window.location.href='{{ 'javascript:javascript:history.go(-1)' }}'" style="width: 100%; color: white; background-color: red">
        </div>
      </div>
        </form>
    {% endblock %}