<!DOCTYPE html>
  <head>
    <title>Admin Email</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/admin_email/styles.css')}}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">

      <!-- White_Box (Rectangle) -->
      <div id="u0" class="ax_default box_1" data-label="White_Box">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Message_Backdrop (Rectangle) -->
      <div id="u1" class="ax_default box_1" data-label="Message_Backdrop">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- EmailHeader (Rectangle) -->
      <div id="u2" class="ax_default heading_1" data-label="EmailHeader">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text ">
          <p><span>Email</span></p>
        </div>
      </div>

      <!-- Email_Components (Group) -->
      <div id="u3" class="ax_default" data-label="Email_Components" data-left="453" data-top="322" data-width="923" data-height="533">

        <!-- ToTextBox (Text Field) -->
        <div id="u4" class="ax_default text_field" data-label="ToTextBox">
          <div id="u4_div" class=""></div>
          <input id="u4_input" type="text" value="" class="u4_input"/>
        </div>

        <!-- SubjectTextBox (Text Field) -->
        <div id="u5" class="ax_default text_field" data-label="SubjectTextBox">
          <div id="u5_div" class=""></div>
          <input id="u5_input" type="text" value="" class="u5_input"/>
        </div>

        <!-- BodyTextBox (Text Area) -->
        <div id="u6" class="ax_default text_area" data-label="BodyTextBox">
          <div id="u6_div" class=""></div>
          <textarea id="u6_input" class="u6_input"></textarea>
        </div>

        <!-- To (Rectangle) -->
        <div id="u7" class="ax_default label" data-label="To">
          <div id="u7_div" class=""></div>
          <div id="u7_text" class="text ">
            <p><span>To</span></p>
          </div>
        </div>

        <!-- Subject (Rectangle) -->
        <div id="u8" class="ax_default label" data-label="Subject">
          <div id="u8_div" class=""></div>
          <div id="u8_text" class="text ">
            <p><span>Subject</span></p>
          </div>
        </div>

        <!-- Subject (Rectangle) -->
        <div id="u9" class="ax_default label" data-label="Subject">
          <div id="u9_div" class=""></div>
          <div id="u9_text" class="text ">
            <p><span>Body</span></p>
          </div>
        </div>
      </div>

      <!-- Sendbtn (Rectangle) -->
      <div id="u10" class="ax_default button" data-label="Sendbtn">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>Send</span></p>
        </div>
      </div>

      <!-- Cancelbtn (Rectangle) -->
      <div id="u11" class="ax_default button" data-label="Cancelbtn">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Nav_Bar (Group) -->
      <div id="u12" class="ax_default" data-label="Nav_Bar" data-left="12" data-top="164" data-width="317" data-height="1009">

        <!-- NavBar_Backdrop (Rectangle) -->
        <div id="u13" class="ax_default box_2" data-label="NavBar_Backdrop">
          <div id="u13_div" class=""></div>
          <div id="u13_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Chart_of_Accounts_Nav (Rectangle) -->
        <div id="u14" class="ax_default heading_2" data-label="Chart_of_Accounts_Nav">
          <div id="u14_div" class=""></div>
          <div id="u14_text" class="text ">
            <p><a href="{{ url_for('admin_accounts')}}" title = "Browse All Accounts"><span>Chart of Accounts</span></a></p>
          </div>
        </div>

        <!-- Users_Nav (Rectangle) -->
        <div id="u15" class="ax_default heading_2" data-label="Users_Nav">
          <div id="u15_div" class=""></div>
          <div id="u15_text" class="text ">
            <p><a href="{{ url_for('admin_user_accounts')}}" title = "Browse Users of Omega Finance"><span>Users</span></a></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="u16" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="u16_div" class=""></div>
          <div id="u16_text" class="text ">
            <p><span>Event Log</span></p>
          </div>
        </div>

        <!-- Reports_Nav (Rectangle) -->
        <div id="u17" class="ax_default heading_2" data-label="Reports_Nav">
          <div id="u17_div" class=""></div>
          <div id="u17_text" class="text ">
            <p><a href="{{ url_for('admin_password_report')}}" title = "Report of All Expired Passwords"><span>Reports</span></a></p>
          </div>
        </div>

        <!-- Home_Nav (Rectangle) -->
        <div id="u18" class="ax_default heading_2" data-label="Home_Nav">
          <div id="u18_div" class=""></div>
          <div id="u18_text" class="text ">
            <p><a href="{{ url_for('admin_home_page')}}"><span>Home</span></a></p>
          </div>
        </div>

        <!-- Email_Nav (Rectangle) -->
        <div id="u19" class="ax_default heading_2" data-label="Email_Nav">
          <div id="u19_div" class=""></div>
          <div id="u19_text" class="text ">
            <p><span>Email</span></p>
          </div>
        </div>

        <!-- My_Profile_Nav (Rectangle) -->
        <div id="u20" class="ax_default heading_2" data-label="My_Profile_Nav">
          <div id="u20_div" class=""></div>
          <div id="u20_text" class="text ">
            <p><span>My Profile</span></p>
          </div>
        </div>

        <!-- Shader (Rectangle) -->
        <div id="u21" class="ax_default box_1" data-label="Shader">
          <div id="u21_div" class=""></div>
          <div id="u21_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- LinksIconName (Group) -->
        <div id="u22" class="ax_default" data-label="LinksIconName" data-left="98" data-top="191" data-width="134" data-height="151">

          <!-- UserName (Text Field) -->
          <div id="username" class="ax_default text_field" data-label="UserName">
            <div id="username_div" class=""></div>
            <input id="username_input" type="text" value="{{ username }}" class="u23_input"/>
          </div>

          <!-- UserType (Text Field) -->
          <div id="u24" class="ax_default text_field" data-label="UserType">
            <div id="u24_div" class=""></div>
            <input id="u24_input" type="text" value="Administrator" class="u24_input"/>
          </div>

          <!-- UserIcon (Shape) -->
          <div id="u25" class="ax_default icon" data-label="UserIcon">
            <img id="u25_img" class="img " src="{{ url_for('static', filename= 'images/admin_email/regen/usericon_u25.svg')}}"/>
            <div id="u25_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Logoff_Nav (Rectangle) -->
        <div id="u26" class="ax_default heading_2" data-label="Logoff_Nav">
          <div id="u26_div" class=""></div>
          <div id="u26_text" class="text ">
            <p><a href="{{ url_for('logged_off_page')}}" title = "Logout of Account"><span>Logoff</span></a></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u27" class="ax_default box_1">
        <div id="u27_div" class=""></div>
        <div id="u27_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Omega_Finance_Header (Rectangle) -->
      <div id="u28" class="ax_default heading_1" data-label="Omega_Finance_Header">
        <div id="u28_div" class=""></div>
        <div id="u28_text" class="text ">
          <p><span>Omega Finance</span></p>
        </div>
      </div>

      <!-- Omega_Finance_Symbol (Image) -->
      <div id="u29" class="ax_default image" data-label="Omega_Finance_Symbol">
        <img id="u29_img" class="img " src="{{ url_for('static', filename= 'images/admin_email/regen/omega_finance_symbol_u29.png')}}"/>
        <div id="u29_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Search Input (Group) -->
      <div id="u30" class="ax_default" data-label="Search Input" data-left="970" data-top="51" data-width="356" data-height="30">

        <!-- Text Input (Text Field) -->
        <div id="u31" class="ax_default text_field" data-label="Text Input">
          <div id="u31_div" class=""></div>
          <input id="u31_input" type="text" value="" class="u31_input"/>
        </div>

        <!-- Search Icon (Shape) -->
        <div id="u32" class="ax_default icon" data-label="Search Icon">
          <img id="u32_img" class="img " src="{{ url_for('static', filename= 'images/admin_email/regen/search_icon_u32.svg')}}"/>
          <div id="u32_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Search_Button (Rectangle) -->
      <div id="u33" class="ax_default button" data-label="Search_Button">
        <div id="u33_div" class=""></div>
        <div id="u33_text" class="text ">
          <p><span>Search</span></p>
        </div>
      </div>

      <!-- About_Nav (Rectangle) -->
      <div id="u34" class="ax_default label" data-label="About_Nav">
        <div id="u34_div" class=""></div>
        <div id="u34_text" class="text ">
          <p><a href="{{ url_for('admin_about')}}" title = "Information About Sections of Omega Finance"><span>About</span></a></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
