{% extends "base_admin.html" %}
    {% block title %}Password Reports{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/admin_password_report/styles.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}

      <!-- White_Box (Rectangle) -->
      <div id="whitebx" class="ax_default box_1" data-label="White_Box">
        <div id="whitebx_div" class=""></div>
        <div id="whitebx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Password_User_ID (Rectangle) -->
      <div id="u10" class="ax_default label" data-label="Password_User_ID">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>User ID</span></p>
        </div>
      </div>

      <!-- Password_Username (Rectangle) -->
      <div id="u11" class="ax_default label" data-label="Password_Username">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
          <p><span>Username</span></p>
        </div>
      </div>

      <!-- Expired_Password (Rectangle) -->
      <div id="u12" class="ax_default label" data-label="Expired_Password">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>Expired Password</span></p>
        </div>
      </div>

      <!-- Days_Expired (Rectangle) -->
      <div id="u13" class="ax_default label" data-label="Days_Expired">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>Days Expired</span></p>
        </div>
      </div>

      <!-- Expiration_Date (Rectangle) -->
      <div id="u14" class="ax_default label" data-label="Expiration_Date">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
          <p><span>Expiration Date</span></p>
        </div>
      </div>

      <!-- Line (Line) -->
      <div id="u15" class="ax_default line1" data-label="Line">
        <img id="u15_img" class="img " src="{{ url_for('static', filename= 'images/admin_password_report/regen/line_u15.svg')}}"/>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Addtochartofaccounts_Header (Rectangle) -->
      <div id="u16" class="ax_default heading_1" data-label="Addtochartofaccounts_Header">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>Reports</span></p>
        </div>
      </div>

      <!-- 1 (Rectangle) -->
      <div id="u17" class="ax_default label" data-label="1">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text ">
          <p><span>1</span></p>
        </div>
      </div>

      <!-- test_user (Rectangle) -->
      <div id="u18" class="ax_default label" data-label="test_user">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>testuser</span></p>
        </div>
      </div>

      <!-- Password1! (Rectangle) -->
      <div id="u19" class="ax_default label" data-label="Password1!">
        <div id="u19_div" class=""></div>
        <div id="u19_text" class="text ">
          <p><span>Password1!</span></p>
        </div>
      </div>

      <!-- 10_14_2021 (Rectangle) -->
      <div id="u20" class="ax_default label" data-label="10_14_2021">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text ">
          <p><span>10/14/2021</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u21" class="ax_default box_1">
        <div id="u21_div" class=""></div>
        <div id="u21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 2 (Rectangle) -->
      <div id="u22" class="ax_default label" data-label="2">
        <div id="u22_div" class=""></div>
        <div id="u22_text" class="text ">
          <p><span>2</span></p>
        </div>
      </div>

      <!-- Cash (Rectangle) -->
      <div id="u23" class="ax_default label" data-label="Cash">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text ">
          <p><span>testuser2</span></p>
        </div>
      </div>

      <!-- Password_1 (Rectangle) -->
      <div id="u24" class="ax_default label" data-label="Password_1">
        <div id="u24_div" class=""></div>
        <div id="u24_text" class="text ">
          <p><span>Password_1</span></p>
        </div>
      </div>

      <!-- 10_15_2021 (Rectangle) -->
      <div id="u25" class="ax_default label" data-label="10_15_2021">
        <div id="u25_div" class=""></div>
        <div id="u25_text" class="text ">
          <p><span>10/15/2021</span></p>
        </div>
      </div>

      <!-- 7 (Rectangle) -->
      <div id="u43" class="ax_default label" data-label="7">
        <div id="u43_div" class=""></div>
        <div id="u43_text" class="text ">
          <p><span>7</span></p>
        </div>
      </div>

      <!-- 6 (Rectangle) -->
      <div id="u44" class="ax_default label" data-label="6">
        <div id="u44_div" class=""></div>
        <div id="u44_text" class="text ">
          <p><span>6</span></p>
        </div>
      </div>
    {% endblock %}
