{% extends "base_admin.html" %}
    {% block title %}Trial Balance{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/documentation/documentation_style.css') }}" type="text/css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
    {% block content %}
        <!--White background Box -->
        <div id="white_div">
            <h1 id="trial_balance_lbl">Trial Balance</h1>
            <input type="button" value="print" class="print_button" onclick="window.print()">
            <div id="div_print">
            <div id="header" class="report_style">
                <h1>Company Name</h1>
                <h2>Trial Balance</h2>
                <h2 id="header_date"></h2>
            </div>
            <div id="trial_balance_report" class="report_style">
                <table id="trial_balance_table">
                    <tr>
                        <th>Accounts</th>
                        <th class="trial_amount">Debits</th>
                        <th class="trial_amount">Credits</th>
                    </tr>
                    {% for account in accounts %}
                        {% if account.balance != 0 %}
                            <tr class="account_row">
                            {% if account.normal_side == "Left" %}
                                <td class="account_name_column">{{ account.name }}</td>
                                {% if account.balance < 0 %}
                                    <td></td>
                                    <td class="debit_side">{{ "${:,.2f}".format(account.balance * -1) }}</td>
                                {% else %}
                                    <td class="debit_side">{{ "${:,.2f}".format(account.balance) }}</td>
                                    <td></td>
                                {% endif %}
                            {% elif account.normal_side == "Right" %}
                                <td class="account_name_column"><span id="credit_name">{{ account.name }}</span></td>
                                {% if account.balance < 0 %}
                                    <td class="credit_side">{{ "${:,.2f}".format(account.balance * -1) }}</td>
                                    <td></td>
                                {% else %}
                                    <td></td>
                                    <td class="credit_side">{{ "${:,.2f}".format(account.balance) }}</td>
                                {% endif %}
                            {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr id="empty"></tr>
                    <tr>
                        <td></td>
                        <td class="total_amount">{{ "${:,.2f}".format(total_amounts[0]) }}</td>
                        <td class="total_amount">{{ "${:,.2f}".format(total_amounts[1]) }}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
        <script>
        const now = new Date();
        let now_day = now.getDate();
        let now_month = now.getMonth();
        now_month = now_month + 1;
        let year = now.getFullYear();
        let date;
        if (now_month < 10) {
            if(now_day < 10) {
                date = "" + year + "-0" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-0" + now_month + "-" + now_day;
            }
        }
        else {
            if(now_day < 10){
                date = "" + year + "-" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-" + now_month + "-" + now_day;
            }
        }
        document.getElementById("header_date").innerText = date;
        </script>
    {% endblock %}