{% extends "base_admin.html" %}
    {% block title %}Password Reports{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/admin_password_report/styles.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}

      <!-- White_Box (Rectangle) -->
      <div id="whitebx" class="ax_default box_1" data-label="White_Box">
        <div id="whitebx_div" class=""></div>
        <div id="whitebx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Reports_Header (Rectangle) -->
      <div id="u16" class="ax_default heading_1" data-label="Reports_Header">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>Reports</span></p>
        </div>
      </div>
    <table id="reports_table">
		  <tr style="text-align: center">
			  <th>User ID</th>
			  <th>Username</th>
			  <th>Expired<br>Password</th>
			  <th>Expiration<br>Date</th>
			  <th>Days<br>Expired</th>
		  </tr>
          {% for user in users %}
            <tr style="text-align: center">
                <td> {{ user.id }}</td>
                <td> {{ user.username }}</td>
                <td> {{ user.previous_passwords }}</td>
                <td> {{ user.password_expire_date }} <td/>
                <td> {{ user.days_expired }} <td/>
            </tr>
          {% endfor %}
    </table>
    {% endblock %}
