{% extends "base_admin.html" %}
{% block title %}Users{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename= 'files/adminuseraccounts/styles.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='files/adminuseraccounts/data.js') }}"></script>
{% endblock %}
{% block content %}
      <!-- Usres(Group) -->
      <div id="usersgrp" class="ax_default" data-left="349" data-top="164" data-width="1502" data-height="1298">

        <!-- White_Box (Rectangle) -->
        <div id="usersbx" class="ax_default box_1" data-label="White_Box">
          <div id="usersbx_div" class=""></div>
          <div id="usersbx_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
          <div id="cover"></div>
        </div>

        <!-- SearchButton (Rectangle) -->
        <div id="usersearchbtn" class="ax_default primary_button" data-label="SearchButton">
          <div id="usersearchbtn_div" class=""></div>
          <div id="usersearchbtn_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>

        <!-- SearchBar (Text Field) -->
        <div id="usersearch" class="ax_default text_field" data-label="SearchBar">
          <div id="usersearch_div" class="" title = "Search for User"></div>
          <input id="usersearch_input" type="text" value="" class="u6_input" placeholder="User Search"/>
        </div>

        <!-- UsersHeading (Rectangle) -->
        <div id="userlbl" class="ax_default heading_1" data-label="UsersHeading">
          <div id="userlbl_div" class=""></div>
          <div id="userlbl_text" class="text ">
            <p><span>Users of Omega Finance</span></p>
          </div>
        </div>

        <!-- ErrorLblMatch (Rectangle) -->
        <div id="errorlbl" class="ax_default label" data-label="ErrorLblMatch" style="visibility: hidden">
          <div id="errorlbl_div" class=""></div>
          <div id="errorlbl_text" class="text ">
            <p><span>NO Match Found</span></p>
          </div>
        </div>

        <!-- Create New User Link (Rectangle) -->
        <div id="createuser" class="ax_default label">
          <div id="createuser_div" class=""></div>
          <div id="createuser_text" class="text ">
            <p><a href="{{ url_for('admin_create_user') }}" title = "Add a New User to the System"><span>Create New User?</span></a></p>
          </div>
        </div>
      </div>

      <!-- Usertable (Table) -->
      <div id="usertable" class="ax_default" data-label="Usertable">
		  <table style="width: 1450px">
			  <tr>
				  <th>ID</th>
				  <th>Username</th>
                  <th>Role</th>
				  <th>Account Active</th>
				  <th>Activate/<br>Deactivate</th>
				  <th>Password Expiration</th>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>Email</th>
				  <th>Address</th>
				  <th>DoB</th>
				  <th>Date Created</th>
			  </tr>
              {% for useraccount in useraccounts %}
                  <tr>
                  <td>{{ useraccount.id }}</td>
                  <td>{{ useraccount.username }}</td>
                  <td>{{ useraccount.role }}</td>
                  {% if useraccount.activated %}
                    <td>Active</td>
                    <td><input type="button" value="Deactivate" onclick='showpopup({{ useraccount.username | tojson }})' style="background-color: red; color: white; height: 30px; width: 80px; border-radius: 5px"></td>
                  {% else %}
                    <td>Deactivated</td>
                    <td><input type="button" value="Activate" onclick="window.location.href='{{ url_for('admin_activate_user', username=useraccount.username)}}'" style="background-color: #2A7F62; color: white; height: 30px"></td>
                  {% endif %}
                  <td>{{ useraccount.password_expire_date }}</td>
                  <td>{{ useraccount.f_name }}</td>
                  <td>{{ useraccount.l_name }}</td>
                  <td>{{ useraccount.email }}</td>
                  <td>{{ useraccount.address }}</td>
                  <td>{{ useraccount.dob }}</td>
                  <td>{{ useraccount.account_creation_date }}</td>
                  </tr>
              {% endfor %}
		  </table>
      </div>
      <div id="popup_suspension">
      <form action="{{ url_for('admin_deactivate_user')}}" method="post">
        <p><span>Time for Deactivation</span></p>
        <p><span>user: </span><span id="user_name"></span></p><br>
        <input id="user" type="text" value="" name="username_input" style="display: none">
          <label>
              <input id="Indefinite" type="radio" onchange="required_dates()" checked value="Indefinite" name="time">Indefinite
          </label><br><br>
          <label>
              <input id="Range" type="radio" onchange="required_dates()" value="Range" name="time">Choose data range<br>
              <input id="date_start" type="date" onchange="correct_date_range()" name="start_date">
              <br>to<br>
              <input id="date_end" type="date" onchange="correct_date_range()" name="end_date">
          </label><br><br>
          <input id="popup_btn_sus" type="submit" value="Submit">
          <input id="popup_cancel_sus" type="button" onclick="closepopup()" value="Cancel">
      </form>
      </div>
{% endblock %}
