{% extends "base_admin.html" %}
    {% block title %}New Users{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/adminuseraccounts/styles.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
      <!-- Usres(Group) -->
      <div id="usersgrp" class="ax_default" data-left="349" data-top="164" data-width="1502" data-height="1298">

        <!-- White_Box (Rectangle) -->
        <div id="usersbx" class="ax_default box_1" data-label="White_Box">
          <div id="usersbx_div" class=""></div>
          <div id="usersbx_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
          <div id="cover" ></div>
        </div>

        <!-- SearchButton (Rectangle) -->
        <div id="usersearchbtn" class="ax_default primary_button" data-label="SearchButton">
          <div id="usersearchbtn_div" class=""></div>
          <div id="usersearchbtn_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>

        <!-- SearchBar (Text Field) -->
        <div id="usersearch" class="ax_default text_field" data-label="SearchBar">
          <div id="usersearch_div" class="" title = "Search for User"></div>
          <input id="usersearch_input" type="text" value="" class="u6_input" placeholder="User Search"/>
        </div>

        <!-- UsersHeading (Rectangle) -->
        <div id="userlbl" class="ax_default heading_1" data-label="UsersHeading">
          <div id="userlbl_div" class=""></div>
          <div id="userlbl_text" class="text ">
            <p><span>New users</span></p>
          </div>
        </div>

        <!-- ErrorLblMatch (Rectangle) -->
        <div id="errorlbl" class="ax_default label" data-label="ErrorLblMatch">
          <div id="errorlbl_div" class=""></div>
          <div id="errorlbl_text" class="text ">
            <p><span>{{ error_message }}</span></p>
          </div>
        </div>

        <!-- Create New User Link (Rectangle) -->
        <div id="createuser" class="ax_default label">
          <div id="createuser_div" class=""></div>
          <div id="createuser_text" class="text ">
            <p><a href="{{ url_for('admin_create_user') }}" title = "Add a New User to the System"><span>Create New User?</span></a></p>
          </div>
        </div>
      </div>
    <!-- Usertable (Table) -->
      <div id="usertable" class="ax_default" data-label="Usertable">
		  <table style="width: 1450px">
			  <tr>
				  <th>User Status</th>
                  <th>username</th>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>Email</th>
				  <th>Address</th>
				  <th>Dob</th>
				  <th>Date Created</th>
				  <th colspan="2">Accept<br>Decline</th>
			  </tr>
              {% for newuser in newusers %}
                  <tr>
                  <td>{{ newuser.status }}</td>
                  <td>{{ newuser.username }}</td>
                  <td>{{ newuser.firstname }}</td>
                  <td>{{ newuser.lastname }}</td>
                  <td>{{ newuser.email }}</td>
                  <td>{{ newuser.street }}</td>
                  <td>{{ newuser.dob }}</td>
                  <td>{{ newuser.date_created }}</td>
                  <td style="width: 70px"><input type="button" value="Accept" onclick='show_popup({{ newuser.username | tojson }})' style="background-color: #2A7F62; color: white; border-radius: 5px; width: 60px; height: 30px"></td>
                  <td style="width: 70px"><input type="button" value="Decline" onclick="window.location.href='{{ url_for('admin_reject_user', username=newuser.username) }}'" style="background-color: red; color: white; border-radius: 5px; width: 60px; height: 30px"></td>
                  </tr>
              {% endfor %}
		  </table>
      </div>
      <div id="popup">
      <form action="{{ url_for('admin_accept_user') }}" method="post">
          <p id="popup_text"><span>Choose the role for </span><span id="name"></span></p>
          <input id="username_data" type="text" value="" style="display: none" name="username_input">
          <select id="popup_input" class="u40_input" name="role">
            <option class="popup_input_option" value="Accountant">Accountant</option>
            <option class="popup_input_option" value="Manager">Manager</option>
            <option class="popup_input_option" value="Administrator">Administrator</option>
          </select>
          <input id="popup_btn" type="submit" value="Submit">
          <input id="popup_cancel" type="button" onclick="close_popup()" value="Cancel">
      </form>
      </div>
    <script>
        function show_popup(username) {
            document.getElementById("name").innerText=username
            document.getElementById("username_data").value = username
            document.getElementById("cover").style.width = "100%"
            document.getElementById("popup").style.display = "block";
        }

        function close_popup() {
            document.getElementById("cover").style.width = "0%"
            document.getElementById("popup").style.display= "none";
        }

    </script>
{% endblock %}
