{% extends "base_admin.html" %}
    {% block title %}Balance Sheet{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/documentation/documentation_style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
        <div id="white_div">
            <h1>Balance Sheet</h1>
            <input type="button" value="print" class="print_button" onclick="window.print()">
            <div id="div_print">
            <div id="header" class="report_style">
                <h1>Company Name</h1>
                <h2>Balance Sheet</h2>
                <h2 id="header_date"></h2>
            </div>
            <div id="balance_sheet_report" class="report_style">
                <table id="balance_sheet_table">
                    <tr>
                        <td>Assets</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for x in range(0,(asset_sub_cat|length)) %}
                        <tr>
                            <td><span class="subcategory">{{ asset_sub_cat[x] }}</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for account in accounts %}
                            {% if account.category == "Asset" %}
                                {% if account.subcategory == asset_sub_cat[x] %}
                                    <tr>
                                        <td><span class="account_name">{{ account.name }}</span></td>
                                        {% if account.balance < 0 %}
                                            <td class="money_value">({{ "{:,.2f}".format(account.balance * -1) }})</td>
                                        {% else %}
                                            <td class="money_value">{{ "${:,.2f}".format(account.balance) }}</td>
                                        {% endif %}
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><span class="subcategory">Total {{ asset_sub_cat[x] }}</span></td>
                            <td class="end_sub_total"></td>
                            <td class="money_value">{{ "${:,.2f}".format(asset_sub_total[x]) }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total Assets</td>
                        <td></td>
                        <td class="final_total">{{ "${:,.2f}".format(total_assets) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Liabilities & Equity</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Liabilities</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for y in range(0,(lia_sub_cat|length)) %}
                        <tr>
                            <td><span class="subcategory">{{ lia_sub_cat[y] }}</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for account in accounts %}
                            {% if account.category == "Liability" %}
                                {% if account.subcategory == lia_sub_cat[y] %}
                                    <tr>
                                        <td><span class="account_name">{{ account.name }}</span></td>
                                        {% if account.balance < 0 %}
                                            <td class="money_value">({{ "{:,.2f}".format(account.balance * -1) }})</td>
                                        {% else %}
                                            <td class="money_value">{{ "${:,.2f}".format(account.balance) }}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><span class="subcategory">Total {{ lia_sub_cat[y] }}</span></td>
                            <td class="end_sub_total"></td>
                            <td class="money_value">{{ "${:,.2f}".format(lia_sub_total[y]) }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total Liabilities</td>
                        <td></td>
                        <td class="total_le_column">{{ "${:,.2f}".format(total_liability) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Equity</td>
                        <td></td>
                    </tr>
                    {% for z in range(0, (equi_sub_cat|length)) %}
                        <tr>
                            <td><span class="subcategory">{{ equi_sub_cat[z] }}</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for account in accounts %}
                            {%  if account.category == "Equity" %}
                                {% if account.subcategory == equi_sub_cat[z] %}
                                    <tr>
                                    {% if account.name == "Retained Earnings" %}
                                        <td><span class="account_name">{{ account.name }}</span></td>
                                        {% if account.balance < 0 %}
                                            <td class="money_value">({{ "{:,.2f}".format(total_retained * -1) }})</td>
                                        {% else %}
                                            <td class="money_value">{{ "${:,.2f}".format(total_retained) }}</td>
                                        {% endif %}
                                        <td></td>
                                    {% else %}
                                        <td><span class="account_name">{{ account.name }}</span></td>
                                        {% if account.balance < 0 %}
                                            <td class="money_value">({{ "{:,.2f}".format(account.balance * -1) }})</td>
                                        {% else %}
                                            <td class="money_value">{{ "${:,.2f}".format(account.balance) }}</td>
                                        {% endif %}
                                        <td></td>
                                    {% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><span class="subcategory">Total {{ equi_sub_cat[z] }}</span></td>
                            <td class="end_sub_total"></td>
                            <td class="money_value">{{ "${:,.2f}".format(equi_sub_total[z]) }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total Equity</td>
                        <td></td>
                        <td class="total_le_column">{{ "${:,.2f}".format(total_equity) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Total Liabilities & Equity</td>
                        <td></td>
                        <td class="final_total">{{ "${:,.2f}".format(total_le) }}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
        <script>
        const now = new Date();
        let now_day = now.getDate();
        let now_month = now.getMonth();
        now_month = now_month + 1;
        let year = now.getFullYear();
        let date;
        if (now_month < 10) {
            if(now_day < 10) {
                date = "" + year + "-0" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-0" + now_month + "-" + now_day;
            }
        }
        else {
            if(now_day < 10){
                date = "" + year + "-" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-" + now_month + "-" + now_day;
            }
        }
        document.getElementById("header_date").innerText = date;
        </script>
    {% endblock %}