<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/basecss/base_style.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename= 'files/admincreateuser/data.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="base" class="">

      <!-- Header Group (Group) -->
      <div id="headergrp" class="ax_default" data-left="0" data-top="0" data-width="3000" data-height="147">

        <!-- Header Background (Rectangle) -->
        <div id="headerbx" class="ax_default box_1">
          <div id="headerbx_div" class=""></div>
          <div id="headerbx_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Omega Finance Label (Rectangle) -->
        <div id="omegalbl" class="ax_default heading_1">
          <div id="omegalbl_div" class=""></div>
          <div id="omegalbl_text" class="text ">
            <p><span>Omega Finance</span></p>
          </div>
        </div>

        <!-- Omega Icon (Image) -->
        <div id="omegaicon" class="ax_default image">
          <img id="omegaicon_img" class="img " src="{{ url_for('static', filename= 'images/admincreateuser/regen/u3.png')}}"/>
          <div id="omegaicon_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Search and Button (Group) -->
        <div id="searchandbtn" class="ax_default" data-left="1381" data-top="54" data-width="470" data-height="30">

          <!-- Search Input (Group) -->
          <div id="searchinput" class="ax_default" data-label="Search Input" data-left="1381" data-top="54" data-width="356" data-height="30">

            <!-- Text Input (Text Field) -->
            <div id="searchtxt" class="ax_default text_field" data-label="Text Input">
              <div id="searchtxt_div" class=""></div>
              <input id="searchtxt_input" type="text" value="" class="u6_input"/>
            </div>

            <!-- Search Icon (Shape) -->
            <div id="searchicon" class="ax_default icon" data-label="Search Icon">
              <img id="searchicon_img" class="img " src="{{ url_for('static', filename= 'images/admincreateuser/regen/search_icon_u7.svg')}}"/>
              <div id="searchicon_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Search Button (Rectangle) -->
          <div id="searchbtn" class="ax_default button">
            <div id="searchbtn_div" class=""></div>
            <div id="searchbtn_text" class="text ">
              <p><span>Search</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Nav Bar Group (Group) -->
      <div id="navbargrp" class="ax_default" data-left="12" data-top="164" data-width="317" data-height="1009">

        <!-- NavBar_Backdrop (Rectangle) -->
        <div id="navbx" class="ax_default box_2" data-label="NavBar_Backdrop">
          <div id="navbx_div" class=""></div>
        </div>

		<!-- Home_Nav (Rectangle) -->
        <div id="home" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="home_div" class=""></div>
          <div id="home_text" class="text ">
            <p><a href="{{ url_for('admin_home_page') }}"><span>Home</span></a></p>
          </div>
        </div>

        <!-- Chart_of_Accounts_Nav (Rectangle) -->
        <div id="journal" class="ax_default heading_2" data-label="Chart_of_Accounts_Nav">
          <div id="journal_div" class="" ></div>
          <div id="journal_text" class="text ">
              <p><a href="{{ url_for('accountant_journal') }}" title = "Journalize"><span>Journalize</span></a></p>
          </div>
        </div>

        <!-- Accounts_Nav (Rectangle) -->
        <div id="accountslink" class="ax_default heading_2" data-label="Accounts_Nav">
          <div id="accountslink_div" class="" ></div>
          <div id="accountslink_text" class="text ">
              <p><a href="{{ url_for('accountant_chart_accounts') }}" title = "Browse Index of Financial Accounts in General Ledger"><span>Chart of Accounts</span></a></p>
          </div>
        </div>

        <!-- Users_Nav (Rectangle) -->
        <div id="userslink" class="ax_default heading_2" data-label="Users_Nav">
          <div id="userslink_div" class="" ></div>
          <div id="userslink_text" class="text ">
              <p><a href="{{ url_for('admin_user_accounts') }}" title = "Browse Users of Omega Finance"><span>Users</span></a></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="eventlog" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="eventlog_div" class=""></div>
          <div id="eventlog_text" class="text ">
            <p><span>Event Log</span></p>
          </div>
        </div>

        <!-- Reports_Nav (Rectangle) -->
        <div id="reports" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="reports_div" class=""></div>
          <div id="reports_text" class="text ">
            <p><span>Reports</span></p>
          </div>
        </div>

		<!-- My_Account_Nav (Rectangle) -->
        <div id="profile" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="profile_div" class=""></div>
          <div id="profile_text" class="text ">
            <p><span>Profile</span></p>
          </div>
        </div>

        <!-- Email_Nav (Rectangle) -->
        <div id="email" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="email_div" class=""></div>
          <div id="email_text" class="text ">
            <p><span>Email</span></p>
          </div>
        </div>

        <!-- Nav Bar Shader (Rectangle) -->
        <div id="navbarshader" class="ax_default box_1">
          <div id="navbarshader_div" class=""></div>
          <div id="navbarshader_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- LinksIconName (Group) -->
        <div id="linksicongrp" class="ax_default" data-label="LinksIconName" data-left="98" data-top="191" data-width="134" data-height="151">

          <!-- UserName (Text Field) -->
          <div id="username" class="ax_default text_field" data-label="UserName">
            <div id="username_div" class=""></div>
            <input id="username_input" type="text" value="{{ username }}" class="u21_input"/>
          </div>

          <!-- UserType (Text Field) -->
          <div id="role" class="ax_default text_field" data-label="UserType">
            <div id="role_div" class=""></div>
            <input id="role_input" type="text" value="Accountant" class="u22_input"/>
          </div>

          <!-- UserIcon (Shape) -->
          <div id="usericon" class="ax_default icon" data-label="UserIcon">
            <img id="usericon_img" class="img " src="{{ url_for('static', filename= 'images/admincreateuser/regen/usericon_u23.svg')}}"/>
            <div id="usericon_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Logoff_Nav (Rectangle) -->
        <div id="logoff" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="logoff_div" class="" ></div>
          <div id="logoff_text" class="text ">
            <p><a href="{{ url_for('logged_off_page')}}" title = "Logout of Account"><span>Logoff</span></a></p>
          </div>
        </div>

        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>