<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename= 'resources/css/pagestyle.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/basecss/base_style.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename= 'files/basecss/baseJs.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="base" class="">

      <!-- Header Group (Group) -->
      <div id="headergrp" class="ax_default" data-left="0" data-top="0" data-width="3000" data-height="147">

        <!-- Header Background (Rectangle) -->
        <div id="headerbx">

            <!-- Omega Icon (Image) -->
            <div id="omegaicon">
                <img id="omegaicon_img" class="img " src="{{ url_for('static', filename= 'images/admincreateuser/regen/u3.png')}}"/>
            </div>

            <!-- Omega Finance Label (Rectangle) -->
            <div id="omegalbl">
                <p><span>Omega Finance</span></p>
            </div>
            <div id="calendar">
                <label>Calendar<br>
                    <input type="date" style="width:50px">
                </label>
            </div>
        </div>
      </div>



      <!-- Nav Bar Group (Group) -->
      <div id="navbargrp" data-left="12" data-top="164" data-width="317" data-height="1009">

        <!-- NavBar_Backdrop (Rectangle) -->
        <div id="navbx" data-label="NavBar_Backdrop">

            <!-- Nav Bar Shader (Rectangle) -->
            <div id="nav_user_info">

                <!-- UserIcon (Shape) -->
                <div id="usericon" data-label="UserIcon">
                    <img id="usericon_img" class="img" src="{{ url_for('static', filename= 'images/admincreateuser/regen/usericon_u23.svg')}}" alt="User_pic"/>
                </div>

                <!-- UserName (Text Field) -->
                <div id="username">
                    <p id="username_input">{{ username }}</p>
                </div>

                <!-- UserType (Text Field) -->
                <div id="role">
                    <p id="role_input">Manager</p>
                </div>

                <!-- Logoff_Nav (Rectangle) -->
                <div id="logoff">
                    <p><a href="{{ url_for('logged_off_page') }}" title = "Logout of Account"><span>Logoff</span></a></p>
                </div>
            </div>

            <!-- Home_Nav (Rectangle) -->
            <div id="home" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_home_page') }}'">
                <p class="nav_link_p"><a href="{{ url_for('manager_home_page') }}">Home</a></p>
            </div>

            <!-- Chart_of_Accounts_Nav (Rectangle) -->
            <div id="journal" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_journal') }}'">
                <p class="nav_link_p"><a href="{{ url_for('manager_journal') }}" title = "Journalize">Journal</a></p>
            </div>

            <!-- Accounts_Nav (Rectangle) -->
            <div id="accounts_link" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_chart_accounts') }}'">
                <p class="nav_link_p"><a href="{{ url_for('manager_chart_accounts') }}" title = "Browse Index of Financial Accounts in General Ledger">Chart of Accounts</a></p>
            </div>

            <!-- Event_Log_Nav (Rectangle) -->
            <div id="eventlog" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_eventlog') }}'">
                <p class="nav_link_p">Event Log</p>
            </div>

            <!-- Reports_Nav (Rectangle) -->
            <div id="reports" class="nav_links_div" onmouseover="showReports()" onmouseout="hideReports()">
                <p class="nav_link_p">Reports</p>
                <div id="trial_balance" class="nav_reports_links" onclick="window.location.href='{{ url_for('manager_trial_balance') }}'">
                    <p>Trial Balance</p>
                </div>
                <div id="income_statement" class="nav_reports_links" onclick="window.location.href='{{ url_for('manager_income_statement') }}'">
                    <p>Income Statement</p>
                </div>
                <div id="balance_sheet" class="nav_reports_links" onclick="window.location.href='{{ url_for('manager_balance_sheet') }}'">
                    <p>Balance Sheet</p>
                </div>
                <div id="retained_statement" class="nav_reports_links" onclick="window.location.href='{{ url_for('manager_retained_earnings') }}'">
                    <p>Retained Earnings Statement</p>
                </div>
            </div>

            <!-- Email_Nav (Rectangle) -->
            <div id="email" class="nav_links_div" data-label="Event_Log_Nav">
            <p class="nav_link_p">Email</p>
            </div>

            <!-- About_Nav (Rectangle) -->
            <div id="about">
                <p><a id="about_link" href="{{ url_for('admin_about')}}" title = "Get Information About this Software">About</a></p>
            </div>
        </div>
      </div>
    </div>
        {% block content %}{% endblock %}
  </body>
</html>