<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename= 'resources/css/pagestyle.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/basecss/base_style.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename= 'files/admincreateuser/data.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="base" class="">

      <!-- Header Group (Group) -->
      <div id="headergrp" class="ax_default" data-left="0" data-top="0" data-width="3000" data-height="147">

        <!-- Header Background (Rectangle) -->
        <div id="headerbx">

            <!-- Omega Icon (Image) -->
            <div id="omegaicon">
                <img id="omegaicon_img" class="img " src="{{ url_for('static', filename= 'images/admincreateuser/regen/u3.png')}}"/>
            </div>

            <!-- Omega Finance Label (Rectangle) -->
            <div id="omegalbl">
                <p><span>Omega Finance</span></p>
            </div>

            <!-- Search and Button (Group) -->
            <div id="searchandbtn" class="ax_default" data-left="1381" data-top="54" data-width="470" data-height="30">

                <!-- Search Input (Group) -->
                <div id="searchinput" class="ax_default" data-label="Search Input" data-left="1381" data-top="54" data-width="356" data-height="30">

                    <!-- Text Input (Text Field) -->
                    <div id="searchtxt" class="ax_default text_field" data-label="Text Input">
                        <div id="searchtxt_div" class=""></div>
                        <input id="searchtxt_input" type="text" value="" class="u6_input"/>
                    </div>

                    <!-- Search Icon (Shape) -->
                    <div id="searchicon" class="ax_default icon" data-label="Search Icon">
                        <img id="searchicon_img" class="img " src="{{ url_for('static', filename= 'images/admincreateuser/regen/search_icon_u7.svg')}}"/>
                        <div id="searchicon_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Search Button (Rectangle) -->
                <div id="searchbtn">
                    <div id="searchbtn_div" class=""></div>
                    <div id="searchbtn_text" class="text ">
                        <p><span>Search</span></p>
                    </div>
                </div>
            </div>
        </div>
      </div>



      <!-- Nav Bar Group (Group) -->
      <div id="navbargrp" data-left="12" data-top="164" data-width="317" data-height="1009">

        <!-- NavBar_Backdrop (Rectangle) -->
        <div id="navbx" data-label="NavBar_Backdrop">

            <!-- Nav Bar Shader (Rectangle) -->
            <div id="nav_user_info">

                <!-- UserIcon (Shape) -->
                <div id="usericon" data-label="UserIcon">
                    <img id="usericon_img" class="img" src="{{ url_for('static', filename= 'images/admincreateuser/regen/usericon_u23.svg')}}" alt="User_pic"/>
                </div>

                <!-- UserName (Text Field) -->
                <div id="username">
                    <p id="username_input">{{ username }}</p>
                </div>

                <!-- UserType (Text Field) -->
                <div id="role">
                    <p id="role_input">Manager</p>
                </div>

                <!-- Logoff_Nav (Rectangle) -->
                <div id="logoff">
                    <p><a href="{{ url_for('logged_off_page') }}" title = "Logout of Account"><span>Logoff</span></a></p>
                </div>
            </div>

            <!-- Home_Nav (Rectangle) -->
            <div id="home" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_home_page') }}'">
                <p class="nav_link_p"><a href="{{ url_for('manager_home_page') }}">Home</a></p>
            </div>

            <!-- Chart_of_Accounts_Nav (Rectangle) -->
            <div id="journal" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_journal') }}'">
                <p class="nav_link_p"><a href="{{ url_for('manager_journal') }}" title = "Journalize">Journal</a></p>
            </div>

            <!-- Accounts_Nav (Rectangle) -->
            <div id="accounts_link" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_chart_accounts') }}'">
                <p class="nav_link_p"><a href="{{ url_for('manager_chart_accounts') }}" title = "Browse Index of Financial Accounts in General Ledger">Chart of Accounts</a></p>
            </div>

            <!-- Event_Log_Nav (Rectangle) -->
            <div id="eventlog" class="nav_links_div" onclick="window.location.href='{{ url_for('manager_eventlog') }}'">
                <p class="nav_link_p">Event Log</p>
            </div>

            <!-- Reports_Nav (Rectangle) -->
            <div id="reports" class="nav_links_div" onclick="">
                <p class="nav_link_p">Reports</p>
            </div>

            <!-- Email_Nav (Rectangle) -->
            <div id="email" class="nav_links_div" data-label="Event_Log_Nav">
            <p class="nav_link_p">Email</p>
            </div>

            <!-- About_Nav (Rectangle) -->
            <div id="about">
                <p><a id="about_link" href="{{ url_for('admin_about')}}" title = "Get Information About this Software">About</a></p>
            </div>
        </div>
      </div>
    </div>
        {% block content %}{% endblock %}
  </body>
</html>