{% extends "base_admin.html" %}
    {% block title %}Chart of Accounts{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/chart_accounts_admin/styles.css')}}" type="text/css" rel="stylesheet"/>
        <script src="{{ url_for('static', filename= 'files/chart_accounts_admin/data.js') }}"></script>
    {% endblock %}
    {% block content %}

        <div id="background_bx">
            <div id="chart_header">
                <h1>Chart of Accounts<span style="margin-left: 40px" class="error_messages">{{ error_messeage }}</span></h1>
                <!-- SearchBar (Text Field) -->
                <div id="search_bar" data-label="SearchBar">
                    <p><label for="search_options"></label>
                        <select id="search_options" name="search_options" onchange="accounts_search()">
                            <option value="Number">Number</option>
                            <option value="Name">Name</option>
                        </select>
                    <input id="search_input" type="text" value="" class="u38_input" onkeyup="accounts_search()" placeholder="Account Search"/></p>
                </div>
            </div>
            <div id="filters">
                <h2>Filter by:</h2>
                <div id="category_filter" class="filters_divs">
                    <label>Accounts Category:<br>
                        <select id="select_category" class="select_filters" onchange="filter()">
                            <option class="category_input_option" value="All">All</option>
                            <option class="category_input_option" value="Asset">Asset</option>
                            <option class="category_input_option" value="Liability">Liability</option>
                            <option class="category_input_option" value="Equity">Equity</option>
                            <option class="category_input_option" value="Revenue">Revenue</option>
                            <option class="category_input_option" value="Expenses">Expenses</option>
                        </select>
                    </label>
                </div>
                <div id="subcategory_filter" class="filters_divs">
                    <label>Account Subcategory:<br>
                        <select id="subcategory_select_filter" class="select_filters" onchange="filter()">
                            <option class="subcategory_input_option" value="All">All</option>
                            {% for subcategory in sub_cat %}
                            <option class="subcategory_input_option" value="{{ subcategory }}">{{ subcategory }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div id="date_range_filter" class="filters_divs">
                    <label>Date Range:<br>
                        <input id="start_date" type="date" onchange="filter()"> to <input id="end_date" type="date" onchange="filter()">
                    </label>
                </div>
                <div id="button_links_div">
                    <input class="link_buttons" type="button" value="Add Account" onclick="window.location.href='{{ url_for('admin_add_chart_accounts')}}'">
                    <input class="link_buttons" type="button" value="Create An Account" onclick="window.location.href='{{ url_for('admin_create_account')}}'">
                </div>
            </div>
            <div id="chart_accounts_div">
                <table id="chart_accounts_table">
		            <tr style="border-style: none none double none">
			            <th>Account<br>Number</th>
			            <th>Account<br>Name</th>
			            <th>Account Category</th>
			            <th>Account<br>Subcategory</th>
			            <th>Account<br>Balance</th>
			            <th>Account<br>Created By</th>
			            <th>Date Created</th>
			            <th>Comment</th>
                        <th>Edit</th>
                        <th>Deactivate</th>
		            </tr>
                    {% for account in accounts %}
                    <tr style="text-align: right">
                        <td><a href="{{ url_for('admin_account_ledger', account_id=account.id)}}" title = "Navigate to Account's Ledger">{{ account.number }} </a></td>
                        <td><a href="{{ url_for('admin_account_ledger', account_id=account.id)}}" title = "Navigate to Account's Ledger">{{ account.name }}</a></td>
                        <td>{{ account.category }}</td>
                        <td>{{ account.subcategory }}</td>
                        {%  if account.balance < 0 %}
                            <td style="text-align: right; padding-right: 20px;">({{ "${:,.2f}".format(account.balance * -1)}})</td>
                        {% else %}
                            <td style="text-align: right; padding-right: 20px;">{{ "${:,.2f}".format(account.balance)}}</td>
                        {% endif %}
                        <td>{{ account.created_by }}</td>
                        <td>{{ account.date_created }}</td>
                        <td>{{ account.comment }}</td>
                        <td><input id="edit_btn" type="button" class="table_buttons" value="Edit" title = "Edit Account" onclick="window.location.href='{{ url_for("admin_edit_account", account_id=account.id) }}'"></td>
                        <td><form method="post">
                            <input type="text" value="{{ account.id }}" style="display: none; visibility: hidden" name="account_id">
                            <input id="deactivate_btn" class="table_buttons" type="submit" value="Deactivate" title = "Deactivate Account">
                        </form></td>
                    </tr>
                    {% endfor %}
	            </table>
            </div>
        </div>
        <script>
            const now = new Date();
            let now_day = now.getDate();
            let now_month = now.getMonth();
            now_month = now_month + 1;
            let year = now.getFullYear();
            let date;
            if (now_month < 10) {
                if(now_day < 10) {
                    date = "" + year + "-0" + now_month + "-0" + now_day;
                } else {
                    date = "" + year + "-0" + now_month + "-" + now_day;
                }
            }
            else {
                if(now_day < 10){
                    date = "" + year + "-" + now_month + "-0" + now_day;
                } else {
                    date = "" + year + "-" + now_month + "-" + now_day;
                }
            }
            document.getElementById("end_date").value = date;
        </script>
    {% endblock %}