<!DOCTYPE html>
<html>
  <head>
    <title>CreateNewAccount</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/createnewaccount/styles.css')}}" type="text/css" rel="stylesheet"/>
      <script src="{{ url_for('static', filename= 'files/createnewaccount/data.js')}}"></script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Header Group (Group) -->
      <div id="headergrp" class="ax_default" data-left="0" data-top="0" data-width="3000" data-height="147">

        <!-- Header Background (Rectangle) -->
        <div id="headerback" class="ax_default box_1">
          <div id="headerback_div" class=""></div>
          <div id="headerback_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Omega Finance Label (Rectangle) -->
        <div id="omegalbl" class="ax_default heading_1">
          <div id="omegalbl_div" class=""></div>
          <div id="omegalbl_text" class="text ">
            <p><span>Omega Finance</span></p>
          </div>
        </div>

        <!-- Omega Icon (Image) -->
        <div id="omegaicon" class="ax_default image">
          <img id="omegaicon_img" class="img " src="{{ url_for('static', filename= 'images/createnewaccount/regen/u3.png')}}"/>
          <div id="omegaicon_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Text Input (Text Field) -->
        <div id="searchtxt" class="ax_default text_field" data-label="Text Input">
          <div id="searchtxt_div" class=""></div>
          <input id="searchtxt_input" type="text" value="" class="u4_input"/>
        </div>

        <!-- Search Icon (Shape) -->
        <div id="searchicon" class="ax_default icon" data-label="Search Icon">
          <img id="searchicon_img" class="img " src="{{ url_for('static', filename= 'images/createnewaccount/regen/search_icon_u5.svg')}}"/>
          <div id="searchicon_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Search Button (Rectangle) -->
        <div id="searchbtn" class="ax_default button">
          <div id="searchbtn_div" class=""></div>
          <div id="searchbtn_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Nav Bar Group (Group) -->
      <div id="navbargrp" class="ax_default" data-left="12" data-top="164" data-width="317" data-height="1009">

        <!-- NavBar_Backdrop (Rectangle) -->
        <div id="navbarback" class="ax_default box_2" data-label="NavBar_Backdrop">
          <div id="navbarback_div" class=""></div>
          <div id="navbarback_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Chart_of_Accounts_Nav (Rectangle) -->
        <div id="chartaccountnav" class="ax_default heading_2" data-label="Chart_of_Accounts_Nav">
          <div id="chartaccountnav_div" class="" title = "Browse Index of Financial Accounts in General Ledger"></div>
          <div id="chartaccountnav_text" class="text ">
            <p><a href="{{ url_for('admin_chart_accounts') }}"><span>Chart of Accounts</span></a></p>
          </div>
        </div>

        <!-- Accounts_Nav (Rectangle) -->
        <div id="accountsnav" class="ax_default heading_2" data-label="Accounts_Nav">
          <div id="accountsnav_div" class="" title = "Browse All Accounts"></div>
          <div id="accountsnav_text" class="text ">
              <p><a href="{{ url_for('admin_accounts') }}"><span>Accounts</span></a></p>
          </div>
        </div>

        <!-- Users_Nav (Rectangle) -->
        <div id="usersnav" class="ax_default heading_2" data-label="Users_Nav">
          <div id="usersnav_div" class="" title = "Browse Users of Omega Finance"></div>
          <div id="usersnav_text" class="text ">
              <p><a href="{{ url_for('admin_user_accounts') }}"><span>Users</span></a></p>
          </div>
        </div>

        <!-- Event_Log_Nav (Rectangle) -->
        <div id="eventlog" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="eventlog_div" class=""></div>
          <div id="eventlog_text" class="text ">
            <p><span>Event Log</span></p>
          </div>
        </div>

        <!-- Reports_Nav (Rectangle) -->
        <div id="reports" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="reports_div" class=""></div>
          <div id="reports_text" class="text ">
            <p><span>Reports</span></p>
          </div>
        </div>

        <!-- Home_Nav (Rectangle) -->
        <div id="homenav" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="homenav_div" class=""></div>
          <div id="homenav_text" class="text ">
              <p><a href="{{ url_for('admin_home_page') }}"><span>Home</span></a></p>
          </div>
        </div>

        <!-- Email_Nav (Rectangle) -->
        <div id="emailnav" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="emailnav_div" class=""></div>
          <div id="emailnav_text" class="text ">
            <p><span>Email</span></p>
          </div>
        </div>

        <!-- My_Account_Nav (Rectangle) -->
        <div id="myaccount" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="myaccount_div" class=""></div>
          <div id="myaccount_text" class="text ">
            <p><span>My Account</span></p>
          </div>
        </div>

        <!-- Nav Bar Shader (Rectangle) -->
        <div id="navbarshader" class="ax_default box_1">
          <div id="navbarshader_div" class=""></div>
          <div id="navbarshader_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- LinksIconName (Group) -->
        <div id="linkicongrp" class="ax_default" data-label="LinksIconName" data-left="98" data-top="191" data-width="134" data-height="151">

          <!-- UserName (Text Field) -->
          <div id="username" class="ax_default text_field" data-label="UserName">
            <div id="username_div" class=""></div>
            <input id="username_input" type="text" value="{{ username }}" class="u19_input"/>
          </div>

          <!-- UserType (Text Field) -->
          <div id="role" class="ax_default text_field" data-label="UserType">
            <div id="role_div" class=""></div>
            <input id="role_input" type="text" value="Administrator" class="u20_input"/>
          </div>

          <!-- UserIcon (Shape) -->
          <div id="usericon" class="ax_default icon" data-label="UserIcon">
            <img id="usericon_img" class="img " src="{{ url_for('static', filename= 'images/createnewaccount/regen/usericon_u21.svg')}}"/>
            <div id="usericon_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Logoff_Nav (Rectangle) -->
        <div id="logoff" class="ax_default heading_2" data-label="Event_Log_Nav">
          <div id="logoff_div" class="" title = "Logout of Account"></div>
          <div id="logoff_text" class="text ">
            <p><a href="{{ url_for('login_page')}}"><span>Logoff</span></a></p>
          </div>
        </div>
      </div>

      <!-- Create An Account Group (Group) -->
      <div id="createaccountgrp" class="ax_default" data-left="380" data-top="164" data-width="824" data-height="661">

        <!-- White_Box (Rectangle) -->
        <div id="createbackground" class="ax_default box_1" data-label="White_Box">
          <div id="createbackground_div" class=""></div>
          <div id="createbackground_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Create Account Shader (Rectangle) -->
        <div id="createshader" class="ax_default box_1">
          <div id="createshader_div" class=""></div>
          <div id="createshader_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Addtochartofaccounts_Header (Rectangle) -->
        <div id="createlbl" class="ax_default heading_1" data-label="Addtochartofaccounts_Header">
          <div id="createlbl_div" class=""></div>
          <div id="createlbl_text" class="text ">
            <p><span>Create an Account</span></p>
          </div>
        </div>

        <form method="post">
        <!-- Create Account Form (Group) -->
        <div id="createform" class="ax_default" data-left="468" data-top="300" data-width="595" data-height="369">

          <!-- Account Category Label (Rectangle) -->
          <div id="categorylbl" class="ax_default paragraph" data-label="Account">
            <div id="categorylbl_div" class=""></div>
            <div id="categorylbl_text" class="text ">
              <p><span>Account Catergory</span></p>
            </div>
          </div>

            <!-- AccountType (Droplist) -->
          <div id="accountcat" class="ax_default droplist" data-label="AccountType">
            <div id="accountcat_div" class=""></div>
            <select id="accountcat_input" class="u33_input" name="category" onchange="changeCatNum()">
              <option class="accountcat_input_option" value="Asset">Asset</option>
              <option class="accountcat_input_option" value="Liability">Liability</option>
              <option class="accountcat_input_option" value="Equity">Equity</option>
              <option class="accountcat_input_option" value="Revenue">Revenue</option>
              <option class="accountcat_input_option" value="Expenses">Expenses</option>
            </select>
          </div>

          <!-- Account Name Label (Rectangle) -->
          <div id="namelbl" class="ax_default paragraph" data-label="Initial_Balance">
            <div id="namelbl_div" class=""></div>
            <div id="namelbl_text" class="text ">
              <p><span>Account Name</span></p>
            </div>
          </div>

          <!-- Account_Name_Text_Field (Text Field) -->
          <div id="nametxt" class="ax_default text_field" data-label="Initital_Balance_Text_Field">
            <div id="nametxt_div" class=""></div>
            <input id="nametxt_input" type="text" value="" class="u32_input" name="name" required/>
          </div>

            <!-- Account Subcatergory Label (Rectangle) -->
          <div id="subcatlbl" class="ax_default paragraph" data-label="Initial_Balance">
            <div id="subcatlbl_div" class=""></div>
            <div id="subcatlbl_text" class="text ">
              <p><span>Account Subcategory</span></p>
            </div>
          </div>

          <!-- Account Subcatergory Text (Text Field) -->
          <div id="subcattxt" class="ax_default text_field" data-label="Initital_Balance_Text_Field">
            <div id="subcattxt_div" class=""></div>
            <input id="subcattxt_input" type="text" value="" class="u39_input" name="subcategory" required/>
          </div>

          <!-- Account Number Label (Rectangle) -->
          <div id="numberlbl" class="ax_default paragraph" data-label="Initial_Balance">
            <div id="numberlbl_div" class=""></div>
            <div id="numberlbl_text" class="text ">
              <p><span>Account Number</span></p>
            </div>
          </div>

            <!-- Catergory Number (Text Field) -->
          <div id="catnumber" class="ax_default text_field">
            <div id="catnumber_div" class=""></div>
            <input id="catnumber_input" type="text" value="1" class="u46_input" name="initial_num" readonly/>
          </div>

          <!-- Account Number Text Field (Text Field) -->
          <div id="numbertxt" class="ax_default text_field" data-label="Initital_Balance_Text_Field">
            <div id="numbertxt_div" class=""></div>
            <input id="numbertxt_input" type="number" value="" class="u35_input" name="number" required/>
          </div>

          <!-- Description Label (Rectangle) -->
          <div id="descriptionlbl" class="ax_default paragraph" data-label="Initial_Balance">
            <div id="descriptionlbl_div" class=""></div>
            <div id="descriptionlbl_text" class="text ">
              <p><span>Description</span></p>
            </div>
          </div>

          <!-- Description Text (Text Field) -->
          <div id="descriptiontxt" class="ax_default text_field" data-label="Initital_Balance_Text_Field">
            <div id="descriptiontxt_div" class=""></div>
            <input id="descriptiontxt_input" type="text" value="" class="u37_input" name="description" required/>
          </div>

          <!-- Normal Side Label (Rectangle) -->
          <div id="normalsidelbl" class="ax_default paragraph" data-label="Account">
            <div id="normalsidelbl_div" class=""></div>
            <div id="normalsidelbl_text" class="text ">
              <p><span>Normal Side</span></p>
            </div>
          </div>

          <!-- Normal Side DropList (Droplist) -->
          <div id="normalsidedl" class="ax_default droplist" data-label="AccountType">
            <div id="normalsidedl_div" class=""></div>
            <select id="normalsidedl_input" class="u41_input" name="normal_side">
              <option class="normalsidedl_input_option" value="Left">Left</option>
              <option class="normalsidedl_input_option" value="Right">Right</option>
            </select>
          </div>

          <!-- Opening Balance Label (Rectangle) -->
          <div id="openingballbl" class="ax_default paragraph" data-label="Account">
            <div id="openingballbl_div" class=""></div>
            <div id="openingballbl_text" class="text ">
              <p><span>Opening Balance</span></p>
            </div>
          </div>

          <!-- Opening Balance Text Box (Text Field) -->
          <div id="openbaltxt" class="ax_default text_field" data-label="Initital_Balance_Text_Field">
            <div id="openbaltxt_div" class=""></div>
            <input id="openbaltxt_input" type="number" value="" class="u43_input" name="initial_balance" required/>
          </div>

          <!-- Dollar Sign (Shape) -->
          <div id="dollarsign" class="ax_default icon">
            <img id="dollarsign_img" class="img " src="{{ url_for('static', filename= 'images/createnewaccount/regen/u44.svg')}}"/>
            <div id="dollarsign_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>


          <!-- Comment Label (Rectangle) -->
          <div id="commentlbl" class="ax_default paragraph" data-label="Comment">
            <div id="commentlbl_div" class=""></div>
            <div id="commentlbl_text" class="text ">
              <p><span>Comment</span></p>
            </div>
          </div>

          <!-- Comment Text (Text Field) -->
          <div id="commenttxt" class="ax_default text_field" data-label="Initital_Balance_Text_Field">
            <div id="commenttxt_div" class=""></div>
            <input id="commenttxt_input" type="text" value="" class="u46_input" name="comment" required/>
          </div>


          <!-- Clear Button (Shape) -->
          <div id="clearbtn" class="ax_default button" data-label="Back_Button">
            <img id="clearbtn_img" class="img " src="{{ url_for('static', filename= 'images/createnewaccount/regen/back_button_u45.svg')}}"/>
            <div id="clearbtn_text" class="text " title = "Reset All Fields">
              <p><span>Clear</span></p>
            </div>
          </div>

          <!-- Back_Button (Shape) -->
          <div id="backbtn" class="ax_default button" data-label="Back_Button" title = "Return to Accounts Page">
            <input type="button" value="Back" onclick="window.location.href='{{ url_for('admin_accounts') }}'" style="width:100%; background-color: #0077B6; color: white"/>
          </div>

          <!-- Add_Button (Shape) -->
          <div id="addbtn" class="ax_default button" data-label="Add_Button" title = "Add Account to System">
            <input type="submit" value="Add" style="width: 100%; background-color: #2A7F62; color: white" />
          </div>
        </div>
        </form>
      </div>
    </div>
  </body>
</html>
