{% extends "base_admin.html" %}
{% block title %}eventlog{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename= 'files/eventlog/styles.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename= 'files/eventlog/data.js') }}"></script>
{% endblock %}
{% block content %}
        <!-- White_Box (Rectangle) -->
        <div id="white_box" class="ax_default box_1" data-label="White_Box">
          <div id="white_box_div" class=""></div>
          <div id="white_box_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Events_Log_Header (Rectangle) -->
        <div id="event_log_header" class="ax_default heading_1" data-label="Events_Log_Header">
          <div id="event_log_header_div" class=""></div>
          <div id="event_log_header_text" class="text ">
            <p><span>Event Log</span></p>
          </div>
        </div>
    <!-- Filter By Label (Rectangle) -->
      <div id="filterbylbl" class="ax_default label" data-label="Account Name">
        <div id="filterbylbl_div" class=""></div>
        <div id="filterbylbl_text" class="text ">
          <p><span>Filter by:</span></p>
        </div>
      </div>

    <!-- Date Range -->
      <div id="date_filter" data-label="Date_range">
          <p><span>Date range:</span></p>
      </div>
      <div id="date_range_input">
        <p><input id="start_date" type="date" onchange="filter()"> to <input id="end_date" type="date" onchange="filter()">
      </div>
        <script>
            const now = new Date();
            let now_day = now.getDate();
            let now_month = now.getMonth();
            now_month = now_month + 1;
            let year = now.getFullYear();
            let date;
            if (now_month < 10) {
                if(now_day < 10) {
                    date = "" + year + "-0" + now_month + "-0" + now_day;
                } else {
                    date = "" + year + "-0" + now_month + "-" + now_day;
                }
            }
            else {
                if(now_day < 10){
                    date = "" + year + "-" + now_month + "-0" + now_day;
                } else {
                    date = "" + year + "-" + now_month + "-" + now_day;
                }
            }
            document.getElementById("end_date").value = date;
        </script>

    <table id="events_table">
		  <tr style="font-weight: Bold; text-align: center">
			  <th>Event ID</th>
			  <th>Time Date</th>
			  <th>Field Changed</th>
			  <th>From</th>
			  <th>To</th>
			  <th>Account ID</th>
			  <th>User</th>
		  </tr>
          {% for event in events %}
            <tr style="text-align: center">
                <td> {{ event.id }}</td>
                <td> {{ event.date_made }}</td>
                <td> {{ event.event_type }}</td>
                <td> {{ event.account_number_before }} <br> {{ event.account_name_before }} <br> {{ event.account_balance_before }} <br> {{ event.account_normal_side_before }} <br> {{ 'Active' if event.account_active_before else 'Inactive' }}</td>
                <td> {{ event.account_number_after }} <br> {{ event.account_name_after }} <br> {{ event.account_balance_after }} <br> {{ event.account_normal_side_after }} <br> {{ 'Active' if event.account_active_after else 'Inactive' }}</td>
                <td> {{ event.account_id }}</td>
                <td> {{ event.username }}</td>
            </tr>
          {% endfor %}
    </table>
{% endblock %}
