<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/forgot_password/styles.css')}}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">
		
	  <!-- OmegaFianceLbl (Rectangle) -->
      <div id="omegafiancelbl" class="ax_default heading_1" data-label="OmegaFianceLbl">
        <div id="omegafiancelbl_div" class=""></div>
        <div id="omegafiancelbl_text" class="text ">
          <p><span>Omega Finance</span></p>
        </div>
      </div>

      <!-- OmegaIcon (Image) -->
      <div id="omegaIcon" class="ax_default image">
        <img id="omegaIcon_img" class="img " src="{{ url_for('static', filename= 'images/forgot_password/regen/u15.png')}}" alt="OmegaIcon"/>
        <div id="omegaIcon_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
      <!-- LoginBox (Rectangle) -->
      <div id="loginbx" class="ax_default box_3" data-label="LoginBox">
        <div id="loginbx_div" class=""></div>
        <div id="loginbx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
	  <!-- Password Retrieval (Rectangle) -->
      <div id="psswrdlbl" class="ax_default heading_2" data-label="Password Retrieval">
        <div id="psswrdlbl_div" class=""></div>
        <div id="psswrdlbl_text" class="text ">
          <p><span>Password Retrieval </span></p>
        </div>
      </div>
		
      <!-- EmailAddresstxtbox (Text Field) -->
      <div id="emailtxtbx" class="ax_default text_field" data-label="EmailAddresstxtbox">
        <div id="emailtxtbx_div" class=""></div>
        <input id="emailtxtbx_input" type="email" value="" placeholder="email" required class="u1_input"/>
      </div>

      <!-- UserIDtxtbox (Text Field) -->
      <div id="userId" class="ax_default text_field" data-label="UserIDtxtbox">
        <div id="userId_div" class=""></div>
        <input id="userId_input" type="text" value="" placeholder="username" class="u2_input" required/>
		</div> 

	  <!-- ErrorMessageSecurityQuestion1 (Rectangle) -->
      <div id="errorMessage1" class="ax_default label ax_default_hidden" data-label="ErrorMessageSecurityQuestion1" style="display:none; visibility: hidden">
        <div id="errorMessage1_div" class=""></div>
        <div id="errorMessage1_text" class="text ">
          <p><span>Invalid Answer</span></p>
        </div>
      </div>
		
      <!-- SecurityQuestion1 (Droplist) -->
      <div id="securityquest1" class="ax_default droplist" data-label="SecurityQuestion1">
        <div id="securityquest1_div" class=""></div>
        <select id="securityquest1_input" class="u5_input">
          <option class="securityquest1_input_option" value="What city were you born in?">What city were you born in?</option>
          <option class="securityquest1_input_option" value="What's your favorite pet's name?">What's your favorite pet's name?</option>
          <option class="securityquest1_input_option" value="What's your mother's maiden name?">What's your mother's maiden name?</option>
          <option class="securityquest1_input_option" value="What high school did you attend?">What high school did you attend?</option>
          <option class="securityquest1_input_option" value="What's the name of your first school?">What's the name of your first school?</option>
          <option class="securityquest1_input_option" value="What was the year of your first car?">What was the year of your first car?</option>
          <option class="securityquest1_input_option" value="What was your favorite food as a child?">What was your favorite food as a child?</option>
        </select>
      </div>

	  <!-- SecurityQuestion1Answer (Text Field) -->
      <div id="securquest1a" class="ax_default text_field" data-label="SecurityQuestion1Answer">
        <div id="securquest1a_div" class=""></div>
        <input id="securquest1a_input" type="text" value="" class="u8_input" placeholder="Answer 1" required/>
      </div>
		
	  <!-- ErrorMessageSecurityQuestion2 (Rectangle) -->
      <div id="errormessage2" class="ax_default label ax_default_hidden" data-label="ErrorMessageSecurityQuestion2" style="display:none; visibility: hidden">
        <div id="errormessage2_div" class=""></div>
        <div id="errormessage2_text" class="text ">
          <p><span>Invalid Answer</span></p>
        </div>
      </div>
		
      <!-- SecurityQuestion2 (Droplist) -->
      <div id="securityquest2" class="ax_default droplist" data-label="SecurityQuestion2">
        <div id="securityquest2_div" class=""></div>
        <select id="securityquest2_input" class="u6_input">
          <option class="securityquest2_input_option" value="What's the name of your first pet?">What's the name of your first pet?</option>
          <option class="securityquest2_input_option" value="What city were you born in?">What city were you born in?</option>
          <option class="securityquest2_input_option" value="What's your mothers maiden name?">What's your mothers maiden name?</option>
          <option class="securityquest2_input_option" value="What high school did you attend?">What high school did you attend?</option>
          <option class="securityquest2_input_option" value="What's the name of your first school?">What's the name of your first school?</option>
          <option class="securityquest2_input_option" value="What was the year of your first car?">What was the year of your first car?</option>
          <option class="securityquest2_input_option" value="What was your favorite food as a child?">What was your favorite food as a child?</option>
        </select>
      </div>

	  <!-- SecurityQuestion2Answer (Text Field) -->
      <div id="securityquest2a" class="ax_default text_field" data-label="SecurityQuestion2Answer">
        <div id="securityquest2a_div" class=""></div>
        <input id="securityquest2a_input" type="text" value="" class="u9_input" placeholder="Answer 2" required/>
      </div>
		
	  <!-- ErrorMessageSecurityQuestion3 (Rectangle) -->
      <div id="errorMessage3" class="ax_default label ax_default_hidden" data-label="ErrorMessageSecurityQuestion3" style="display:none; visibility: hidden">
        <div id="errorMessage3_div" class=""></div>
        <div id="errorMessage3_text" class="text ">
          <p><span>Invalid Answer</span></p>
        </div>
      </div>
		
      <!-- SecurityQuestion3 (Droplist) -->
      <div id="securityquest3" class="ax_default droplist" data-label="SecurityQuestion3">
        <div id="securityquest3_div" class=""></div>
        <select id="securityquest3_input" class="u7_input">
          <option class="securityquest3_input_option" value="In what city were you born?">In what city were you born?</option>
          <option class="securityquest3_input_option" value="What's the name of your favorite pet?">What's the name of your favorite pet?</option>
          <option class="securityquest3_input_option" value="What high school did you attend?">What high school did you attend?</option>
          <option class="securityquest3_input_option" value="What is the name of your first school?">What is the name of your first school?</option>
          <option class="securityquest3_input_option" value="What's your mothers maiden name?">What's your mothers maiden name?</option>
          <option class="securityquest3_input_option" value="What was the make of your first car?">What was the make of your first car?</option>
          <option class="securityquest3_input_option" value="What was your favorite food as a child?">What was your favorite food as a child?</option>
        </select>
		</div>
		
      <!-- SecurityQuestion3Answer (Text Field) -->
      <div id="securityquest3a" class="ax_default text_field" data-label="SecurityQuestion3Answer">
        <div id="securityquest3a_div" class=""></div>
        <input id="securityquest3a_input" type="text" value="" class="u10_input" placeholder="Answer 3" required/>
      </div>
		
	  <!-- CreateNewPasswordButton (Rectangle) -->
      <div id="createpsswrdbtn" class="ax_default button" data-label="CreateNewPasswordButton">
        <div id="createpsswrdbtn_div" class=""></div>
        <div id="createpsswrdbtn_text" class="text ">
			<input type="submit" value="Create New Password" style="background-color: #2A7F62; width: 209px; height: 40px; color: #FFFFFF; font-size: 16px"/>
        </div>
      </div>
    </div>
	  <!-- Orline (Group) -->
      <div id="orLine" class="ax_default" data-label="Orline" data-left="560.9993657531095" data-top="787" data-width="316.00127286091663" data-height="19">

        <!-- orlabel (Rectangle) -->
        <div id="orlbl" class="ax_default label">
          <div id="orlbl_div" class=""></div>
          <div id="orlbl_text" class="text ">
            <p><span>Or</span></p>
          </div>
        </div>

        <!-- lLine (Line) -->
        <div id="lLine" class="ax_default line1">
          <img id="lLine_img" class="img " src="images/forgot_password/regen/u18.svg"/>
          <div id="lLine_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- rLine (Line) -->
        <div id="rLine" class="ax_default line1">
          <img id="rLine_img" class="img " src="images/forgot_password/regen/u19.svg"/>
          <div id="rLine_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Login Here Button (Rectangle) -->
      <div id="loginButton" class="ax_default link_button" data-label="Login Here Button">
        <div id="loginButton_div" class=""></div>
        <div id="loginButton_text" class="text ">
          <p><span>Login Here</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
