<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/pagestyle.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/forgot_password/styles.css')}}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">
		
	  <!-- OmegaFianceLbl (Rectangle) -->
      <div id="omegafiancelbl" class="ax_default heading_1" data-label="OmegaFianceLbl">
        <div id="omegafiancelbl_div" class=""></div>
        <div id="omegafiancelbl_text" class="text ">
          <p><span>Omega Finance</span></p>
        </div>
      </div>

      <!-- OmegaIcon (Image) -->
      <div id="omegaIcon" class="ax_default image">
        <img id="omegaIcon_img" class="img " src="{{ url_for('static', filename= 'images/forgot_password/regen/u15.png')}}" alt="OmegaIcon"/>
        <div id="omegaIcon_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
      <!-- LoginBox (Rectangle) -->
      <div id="loginbx" class="ax_default box_3" data-label="LoginBox">
        <div id="loginbx_div" class=""></div>
        <div id="loginbx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
	  <!-- Password Retrieval (Rectangle) -->
      <div id="psswrdlbl" class="ax_default heading_2" data-label="Password Retrieval">
        <div id="psswrdlbl_div" class=""></div>
        <div id="psswrdlbl_text" class="text ">
          <p><span>Password Retrieval </span></p>
        </div>
      </div>
	  <form method="post">
      <!-- EmailAddresstxtbox (Text Field) -->
      <div id="emailtxtbx" class="ax_default text_field" data-label="EmailAddresstxtbox">
        <div id="emailtxtbx_div" class=""></div>
        <input id="emailtxtbx_input" type="email" value="" placeholder="email" name="email" required class="u1_input"/>
      </div>

      <!-- UserIDtxtbox (Text Field) -->
      <div id="userId" class="ax_default text_field" data-label="UserIDtxtbox">
        <div id="userId_div" class=""></div>
        <input id="userId_input" type="text" value="" placeholder="username" class="u2_input" name="username" required/>
		</div>

	  <!-- ErrorMessageSecurityQuestion1 (Rectangle) -->
      <div id="errorMessage1" class="ax_default label" data-label="ErrorMessageSecurityQuestion1">
        <div id="errorMessage1_div" class=""></div>
        <div id="errorMessage1_text" class="text ">
          <p><span>{{ error_message }}</span></p>
        </div>
      </div>

	  <!-- CreateNewPasswordButton (Rectangle) -->
      <div id="createpsswrdbtn" class="ax_default button" data-label="CreateNewPasswordButton">
        <div id="createpsswrdbtn_div" class=""></div>
        <div id="createpsswrdbtn_text" class="text " title = "Submit Information Above to Create New Password">
			<input type="submit" value="Security Questions" style="background-color: #2A7F62; width: 209px; height: 40px; color: #FFFFFF; font-size: 16px"/>
        </div>
      </div>

	  <!-- Orline (Group) -->
      <div id="orLine" class="ax_default" data-label="Orline" data-left="560.9993657531095" data-top="787" data-width="316.00127286091663" data-height="19">

        <!-- orlabel (Rectangle) -->
        <div id="orlbl" class="ax_default label">
          <div id="orlbl_div" class=""></div>
          <div id="orlbl_text" class="text ">
            <p><span>Or</span></p>
          </div>
        </div>

        <!-- lLine (Line) -->
        <div id="lLine" class="ax_default line1">
          <img id="lLine_img" class="img " src="{{ url_for('static', filename= 'images/forgot_password/regen/lLine.svg')}}"/>
          <div id="lLine_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- rLine (Line) -->
        <div id="rLine" class="ax_default line1">
          <img id="rLine_img" class="img " src="{{ url_for('static', filename= 'images/forgot_password/regen/rLine.svg')}}"/>
          <div id="rLine_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Login Here Button (Rectangle) -->
      <div id="loginButton" class="ax_default link_button" data-label="Login Here Button">
        <div id="loginButton_div" class=""></div>
        <div id="loginButton_text" class="text ">
          <p><a href="{{ url_for('login_page')}}" title = "Back to Login Page"><span>Login Here</span></a></p>
        </div>
      </div>
      </form>
    </div>
  </body>
</html>
