{% extends "base_accountant.html" %}
    {% block title %}Journalize Accountant{% endblock %}
    {% block head %}
    <link href="{{ url_for('static', filename= 'files/journalize_accountant/styles.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
      <!-- Accounts Background (Rectangle) -->
      <div id="accountsbx" class="ax_default box_1" data-label="White_Box">
        <div id="accountsbx_div" class=""></div>
        <div id="accountsbx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Accounts_Header (Rectangle) -->
      <div id="accountslbl" class="ax_default heading_1" data-label="Addtochartofaccounts_Header">
        <div id="accountslbl_div" class=""></div>
        <div id="accountslbl_text" class="text ">
          <p><span>Journalize</span></p>
        </div>
      </div>
		
      <!-- Add_Button (Shape) -->
      <div id="addbtn" class="ax_default button" data-label="Add_Button">
        <input type="button" value="Add An Account" onclick="" style="width: 100%; background-color: green; font-size: 20px; color: white"/>
      </div>

      <!-- Account Category (Droplist) -->
      <div id="accountcat" class="ax_default droplist" data-label="AccountType">
        <div id="accountcat_div" class=""></div>
        <select id="accountcat_input" class="u13_input">
          <option class="accountcat_input_option" value="All">All</option>
          <option class="accountcat_input_option" value="Asset">Asset</option>
          <option class="accountcat_input_option" value="Liability">Liability</option>
          <option class="accountcat_input_option" value="Equity">Equity</option>
          <option class="accountcat_input_option" value="Revenue">Revenue</option>
          <option class="accountcat_input_option" value="Expenses">Expenses</option>
        </select>
      </div>

      <!-- Account Category lbl (Rectangle) -->
      <div id="accountcatlbl" class="ax_default label" data-label="Account Name">
        <div id="accountcatlbl_div" class=""></div>
        <div id="accountcatlbl_text" class="text ">
          <p><span>Account Category:</span></p>
        </div>
      </div>

      <!-- Account Term Label (Rectangle) -->
      <div id="accounttermlbl" class="ax_default label" data-label="Account Name">
        <div id="accounttermlbl_div" class=""></div>
        <div id="accounttermlbl_text" class="text ">
          <p><span>Account Term:</span></p>
        </div>
      </div>

	  <!-- Account Term (Droplist) -->
      <div id="accountsubcat" class="ax_default droplist" data-label="AccountType">
        <div id="accountterm_div" class=""></div>
        <select id="accountsubcat_input" class="u17_input">
          <option class="accountterm_input_option" value="All">All</option>
          <option class="accountterm_input_option" value="Current">Current</option>
        </select>
      </div>
		
      <!-- Account Status Label (Rectangle) -->
      <div id="accountstatlbl" class="ax_default label" data-label="Account Name">
        <div id="accountstatlbl_div" class=""></div>
        <div id="accountstatlbl_text" class="text ">
          <p><span>Account Status:</span></p>
        </div>
      </div>

      

      <!-- AccountType (Droplist) -->
      <div id="accountstatus" class="ax_default droplist" data-label="AccountType">
        <div id="accountstatus_div" class=""></div>
        <select id="accountstatus_input" class="u18_input">
          <option class="accountstatus_input_option" value="All">All</option>
          <option class="accountstatus_input_option" value="Active">Active</option>
          <option class="accountstatus_input_option" value="Inactive">Inactive</option>
        </select>
      </div>

      <!-- Filter By Label (Rectangle) -->
      <div id="filterbylbl" class="ax_default label" data-label="Account Name">
        <div id="filterbylbl_div" class=""></div>
        <div id="filterbylbl_text" class="text ">
          <p><span>Filter by:</span></p>
        </div>
      </div>
		
	  <table>
		  <tr>
			  <th>Account<br>Number</th>
			  <th>Account<br>Name</th>
			  <th>Account Catergory</th>
			  <th>Account<br>SubCatergory</th>
			  <th>Account<br>Balance</th>
			  <th>Account<br>Created By</th>
			  <th>Date Created</th>
			  <th>Term</th>
			  <th>Comment</th>
			  <th>Account State</th>
		  </tr>
	  </table>

      <!-- SearchButton (Rectangle) -->
      <div id="usersearchbtn" class="ax_default primary_button" data-label="SearchButton">
        <div id="usersearchbtn_div" class="" ></div>
        <div id="usersearchbtn_text" class="text " title = "Search for User">
          <p><span>Search</span></p>
        </div>
      </div>

      <!-- SearchBar (Text Field) -->
      <div id="usersearchtxt" class="ax_default text_field" data-label="SearchBar">
        <div id="usersearchtxt_div" class=""></div>
        <input id="usersearchtxt_input" type="text" value="" class="u38_input" placeholder="User Search"/>
      </div>
{% endblock %}