<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/login/styles.css')}}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">

	  <!-- OmegaFianceLbl (Rectangle) -->
      <div id="OmegaFinance" class="ax_default heading_1" data-label="OmegaFianceLbl">
        <div id="OmegaFinance_div" class=""></div>
        <div id="OmegaFinance_text" class="text ">
          <p><span>Omega Finance</span></p>
        </div>
      </div>
		
	  <!-- OmegaIcon (Image) -->
      <div id="OmegaIcon" class="ax_default image">
        <img id="OmegaIcon_img" class="img " src="{{ url_for('static', filename= 'images/login/regen/u13.png')}}"/>
        <div id="OmegaIcon_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
      <!-- LoginBox (Rectangle) -->
      <div id="loginbx" class="ax_default box_3" data-label="LoginBox">
        <div id="loginbx_div" class=""></div>
        <div id="loginbx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <form method="POST">
      <!-- Usernametxtbx (Text Field) -->
      <div id="unametxtbx" class="ax_default text_field" data-label="Usernametxtbx">
        <div id="unametxtbx_div" class=""></div>
        <input id="unametxtbx_input" type="text" value=""  placeholder="username"  name="username_input" required class="u1_input"/>
      </div>

      <!-- Passwordtxtbx (Text Field) -->
      <div id="psswrdtxtbx" class="ax_default text_field" data-label="Passwordtxtbx">
        <div id="psswrdtxtbx_div" class=""></div>
        <input id="psswrdtxtbx_input" type="password" value="" placeholder="password" name="password_input" required class="u2_input"/>
      </div>

      <!-- Loginbtn (Rectangle) -->
      <div id="loginbtn" class="ax_default button" data-label="Loginbtn">
        <div id="loginbtn_div" class=""></div>
        <div id="loginbtn_text" class="text ">
          <input type="submit" value="LOGIN" style="background-color: #2A7F62; width: 195px; height: 40px; color: #FFFFFF; font-family: Montserrat, Sans-Serif; font-size: 16px">
        </div>
      </div>

      <!-- loginlbl (Rectangle) -->
      <div id="loginlbl" class="ax_default heading_2" data-label="loginlbl">
        <div id="loginlbl_div" class=""></div>
        <div id="loginlbl_text" class="text ">
          <p><span>Log In</span></p>
        </div>
      </div>
      </form>
      <!-- Orline (Group) -->
      <div id="orLine" class="ax_default" data-label="Orline" data-left="563.9993657531093" data-top="487" data-width="316.00127286091697" data-height="19">

        <!-- orlbl (Rectangle) -->
        <div id="orlbl" class="ax_default label">
          <div id="orlbl_div" class=""></div>
          <div id="orlbl_text" class="text ">
            <p><span>Or</span></p>
          </div>
        </div>

        <!-- lLine (Line) -->
        <div id="lLine" class="ax_default line">
          <img id="lLine_img" class="img " src="{{ url_for('static', filename= 'images/login/regen/u8.svg')}}"/>
          <div id="lLine_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- rLine (Line) -->
        <div id="rLine" class="ax_default line">
          <img id="rLine_img" class="img " src="{{ url_for('static', filename= 'images/login/regen/u9.svg')}}"/>
          <div id="rLine_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- forgotPasswordLink (Rectangle) -->
      <div id="forgotpsswrd" class="ax_default link_button" data-label="forgotPasswordLink">
        <div id="forgotpsswrd_div" class=""></div>
        <div id="forgotpsswrd_text" class="text ">
            <p><a href="{{ url_for('forgot_password')}}" style="text-decoration: none"><span>Forgot Password?</span></a></p>
        </div>
      </div>

      <!-- registerHereLink (Rectangle) -->
      <div id="registerLink" class="ax_default link_button" data-label="registerHereLink">
        <div id="registerLink_div" class=""></div>
        <div id="registerLink_text" class="text ">
            <p><a href="{{ url_for('new_user')}}"><span>Register Here</span></a></p>
        </div>
      </div>

      <!-- Errorlbl2AttemptsLeft (Rectangle) -->
      <div id="errormessage" class="ax_default label" data-label="Errorlbl2AttemptsLeft">
        <div id="errormessage_div" class=""></div>
        <div id="errormessage_text" class="text ">
          <p><span>{{ errormessage }}</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
