{% extends "base_manager.html" %}
    {% block title %}Journal{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/journal/journalstyle.css') }}" type="text/css" rel="stylesheet"/>
        <script src="{{ url_for('static', filename= 'files/journal/journaldata.js') }}"></script>

    {% endblock %}
    {% block content %}
    <!--White ground box -->

    <div id="background_bx">
		<div id="journal_lbl">
			<p>Journal</p>
		</div>

		<div id="add_btn">
			<input id="add_btn_input" type="button" value="+Add" onclick="show_journal_entry()">
		</div>
		<div id="journal_entry" style="padding:20px">
		<form action="{{ url_for('manager_entry') }}" method="post" enctype="multipart/form-data">
        <input id="debit_accounts_counter" type="text" value="0" style="display: none" name="debit_accounts_counter">
        <input id="credit_accounts_counter" type="text" value="0" style="display: none" name="credit_accounts_counter">
			<table id="journal_table_entry">
				<tr>
					<th style="width: 400px">Journal Entry</th>
					<th style="width: 500px">Accounts</th>
					<th style="width: 250px">Debit</th>
					<th style="width: 250px">Credit</th>
				</tr>
				<tr>
					<td>
                        <br>
						<div style="padding-left:10px">
							<p><span>Date: </span><span><input id="journal_date" type="date" name="date_entry" required></span></p>
							<br>
							<select id="journal_type" name="journal_type" style="width: 400px">
								<option value="Regular">Regular</option>
								<option value="Adjusting">Adjusting</option>
								<option value="Reversing">Reversing</option>
								<option value="Closing">Closing</option>
							</select>
							<br><br>
							<textarea id="description" rows="5" cols="50" placeholder="Description here ..." name="description" required></textarea>
							<p>Choose a file to upload:</p>
  								<label for="file">Select a file:</label>
  								<input type="file" id="file_btn" name="file[]" multiple>
						</div>
					</td>
                <!-- Accounts selection -->
					<td id="accounts_column">
						<div id="debit_accounts_div0" style="padding-left:10px">
							<select id="debit_account_select0" class="debit_select_accounts" name="debit_account_select0" onchange="selectDisabled()">
                                <option value="">--Accounts--</option>
                                <optgroup label="Assets">
                                    {% for account in accounts %}
                                        {% if account.category == "Asset" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Liabilities">
                                    {% for account in accounts %}
                                        {% if account.category == "Liability" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Equities">
                                    {% for account in accounts %}
                                        {% if account.category == "Equity" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Revenues">
                                    {% for account in accounts %}
                                        {% if account.category == "Revenue" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Expenses">
                                    {% for account in accounts %}
                                        {% if account.category == "Expenses" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            </select>
							<input id="debit_plus_btn" class="plus_minus_btns" type="button" value="+" onclick="add_account_input('debit')"><input id="debit_minus_btn0" class="plus_minus_btns" type="button" value="-" onclick="delete_account_input('debit', this.id)">
                        </div>
                        <br id="break">
						<div id="credit_accounts_div0" style="padding-left:50px">
							<select id="credit_account_select0" class="credit_select_accounts" name="credit_account_select0" onchange="selectDisabled()">
                                <option value="">--Accounts--</option>
                                <optgroup label="Assets">
                                    {% for account in accounts %}
                                        {% if account.category == "Asset" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Liabilities">
                                    {% for account in accounts %}
                                        {% if account.category == "Liability" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Equities">
                                    {% for account in accounts %}
                                        {% if account.category == "Equity" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Revenues">
                                    {% for account in accounts %}
                                        {% if account.category == "Revenue" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Expenses">
                                    {% for account in accounts %}
                                        {% if account.category == "Expenses" %}
                                            <option value="{{ account.number }}-{{ account.name }}">{{ account.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            </select>
							<input id="credit_plus_btn" class="plus_minus_btns" type="button" value="+" onclick="add_account_input('credit')"><input id="credit_minus_btn0" class="plus_minus_btns" type="button" value="-" onclick="delete_account_input('credit', this.id)">
						</div>
					</td>
					<td id="debit_amount_column">
						<div id="debit_amount0" style="padding-left:10px">
							<label>&#36; </label><input id="debit_amount_input0" class="input_amounts" type="number" onkeyup="balanced()" onkeypress="return !(event.charCode === 45 || event.charCode === 42 || event.charCode === 43)" min="0" placeholder="0.00" name="debit_amount_input0" style="width: 150px">
						</div>
					</td>
					<td id="credit_amount_column" style="padding-top:55px">
						<div id="credit_amount0" style="padding-left:30px">
							<label>&#36; </label><input id="credit_amount_input0" class="input_amounts" type="number" onkeyup="balanced()" onkeypress="return !(event.charCode === 45 || event.charCode === 42 || event.charCode === 43)" min="0" placeholder="0.00" name="credit_amount_input0" style="width: 150px">
						</div>
					</td>
				</tr>
			</table>
			<div id="buttons">
                <input id="close" type="button" value="Close" onclick="close_journal_entry()">
			    <input id="clear" type="button" value="Clear" onclick="clearInfo()">
                <input id="clear_btn" type="reset" style="display: none">
			    <button id="submit" type="button" value="Submit" onclick="checkAccounts()" disabled>Submit</button>
                <input id="submit_button" type="submit" style="display: none">
                <p id="balanced_error" style="color: red; display: none">{{ error_message }}</p>
                <p id="accounts_error" style="color: red; display: none">{{ error_message1 }}</p>
			</div>
            <script>
                function checkAccounts(){
                        var d_value = true;
                        var c_value = true;
                        $(".debit_select_accounts").each(function() {
                            var val = $(this).val();
                            if(val === ""){
                                d_value = false;
                            }
                        })
                        $(".credit_select_accounts").each(function() {
                            var val1 = $(this).val();
                            if(val1 === ""){
                                c_value = false;
                            }
                        })
                        if( d_value && c_value){
                            $("#submit_button").trigger("click");
                        }else{
                            $("#accounts_error").show();
                        }
                }
                function selectDisabled() {
                    clearSelect();
                    $(".debit_select_accounts").each(function(){
                        var index = $(this).prop('selectedIndex');
                        if(index !== 0) {
                            $(".debit_select_accounts").each(function (){
                                $(this).find("option").eq(index).css("display", "none");
                            });
                            $(".credit_select_accounts").each(function() {
                                $(this).find("option").eq(index).css("display", "none");
                            });
                        }
                    });
                    $(".credit_select_accounts").each(function(){
                        var index1 = $(this).prop('selectedIndex');
                        if(index1 !== 0) {
                            $(".debit_select_accounts").each(function () {
                                $(this).find("option").eq(index1).css("display", "none");
                            });
                            $(".credit_select_accounts").each(function() {
                                $(this).find("option").eq(index1).css("display", "none");
                            });
                        }
                    });
                }
                function clearSelect() {
                    $(".debit_select_accounts").each(function(){
                       $(this).find("option").css("display", "");
                    });
                    $(".credit_select_accounts").each(function(){
                        $(this).find("option").css("display", "");
                    });
                }
            </script>
			</form>
		</div>

		<div id="search_bx">
			<input id="search_input" type="text" placeholder="Journal Search" autocomplete="off">
            <script>
                $(document).ready(function() {
                    $("#search_input").on("keyup",function() {
                        var value = $(this).val().toLowerCase();
                        $(".entries_info").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                        });
                    });
                });
            </script>
		</div>
        <br><br>
        <div class="flex_container">
		<div id="date_range">
			<p>Filter: Date Range</p>
			<p><input id="start_date" type="date" onchange="filter()"> to <input id="end_date" type="date" required onchange="filter()"></p>
		</div>
		<div id="status">
			<p>Filter: Status</p>
			<p>
				<select id="select_status" name="select_status" style="width:200px" onchange="filter()">
					<option value="All">All</option>
					<option value="Pending">Pending</option>
					<option value="Accepted">Accepted</option>
					<option value="Rejected">Rejected</option>
				</select>
			</p>
		</div>
        </div>
        <br>
		<div style="height: 1100px; overflow: auto">
		<table id="journal_table">
			<tr>
				<th style="width:150px">Date</th>
				<th style="width:150px">Type</th>
				<th style="width:45px">PR</th>
				<th style="width:150px">Created By</th>
				<th style="width:400px">Accounts</th>
				<th style="width:200px">Debit</th>
				<th style="width:200px">Credit</th>
				<th style="width:195px">Status</th>
			</tr>
            <tbody id="journal_table_body">
            {% for entry in entries %}
            <tr class="entries_info">
                <td>{{ entry.date }}</td>
                <td>{{ entry.type }}</td>
                <td><a href="{{ url_for('manager_post_reference', post_reference=entry.id) }}">{{ entry.id }}</a></td>
                <td>{{ entry.created_by }}</td>
                <td colspan="3">
                    <table id="inner_table" class="inner_table">
                        <tr id="debit_info">
                            <td style="width: 400px; font-weight: bold">
                                {% for x in range(0, (entry.debit_accounts|length)) %}
                                    <p><a href="{{ url_for('manager_number_id', account_number=entry.debit_accounts_numbers[x]) }}">{{ entry.debit_accounts_numbers[x] }}</a> - {{ entry.debit_accounts[x] }}</p>
                                {% endfor %}
                            </td>
                            <td style="width: 200px; text-align: right">
                                {% for debit_amounts in entry.debit_amounts %}
                                    <p>{{ "${:,.2f}".format(debit_amounts) }}</p>
                                {% endfor %}
                            </td>
                            <td style="width: 190px"></td>
                        </tr>
                        <tr id="credit_info">
                            <td style="font-weight: bold">
                                {% for y in range(0, (entry.credit_accounts|length)) %}
                                    <p style="margin-left: 30px"><a href="{{ url_for('manager_number_id', account_number=entry.credit_accounts_numbers[y]) }}">{{ entry.credit_accounts_numbers[y] }}</a> - {{ entry.credit_accounts[y] }}</p>
                                {% endfor %}
                            </td>
                            <td></td>
                            <td style="margin-left: 30px; text-align: right">
                                {% for credit_amount in entry.credit_amounts %}
                                    <p>{{ "${:,.2f}".format(credit_amount) }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 18px"><span style="font-weight: bold;">Description: </span>{{ entry.description }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p id="entry_status" style="text-align: center">{{ entry.status }}</p>
                    {% if entry.status == "Pending" %}
                        <form action="{{ url_for('manager_accept_reject_entry') }}" method="post">
                            <input type="text" value="{{ entry.id }}" style="display: none" name="entry_id">
                            <textarea id="reason_text_form" name="reason" style="display: None"></textarea>
                            <button id="accept" type="submit" name="accept_reject" value="Accept">Accept</button>
                            <button id="reject" type="button" name="" value="Reject" onclick="showComment(event)">Reject</button>
                            <button id="reject_btn" type="submit" name="accept_reject" value="Reject" style="display: none">Reject</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
		</table>
	</div>
        <script>
        const now = new Date();
        let now_day = now.getDate();
        let now_month = now.getMonth();
        now_month = now_month + 1;
        let year = now.getFullYear();
        let date;
        if (now_month < 10) {
            if(now_day < 10) {
                date = "" + year + "-0" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-0" + now_month + "-" + now_day;
            }
        }
        else {
            if(now_day < 10){
                date = "" + year + "-" + now_month + "-0" + now_day;
            } else {
                date = "" + year + "-" + now_month + "-" + now_day;
            }
        }
        document.getElementById("journal_date").min = date;
        document.getElementById("journal_date").value = date;
        document.getElementById("end_date").value = date;
        document.getElementById("end_date").max = date;
        document.getElementById("start_date").max = date;
        </script>
    </div>
    <div id="cover">
    <div id="background_reason">
        <label>Reason for Rejection<br>
            <textarea id="reason_text_area" placeholder="Reason ..."></textarea>
        </label><br>
        <button id="cancel_reason" onclick="hideComment()">Cancel</button>
        <button id="submit_reason" onclick="submitInfo()">Submit</button>
    </div>
    </div>
    {% endblock %}