{% extends "base_manager.html" %}
    {% block title %}Income Statement{% endblock %}
    {% block head %}
        <link href="{{ url_for('static', filename= 'files/documentation/documentation_style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block content %}
        <!-- White background Box-->
        <div id="white_div">
            <h1>Income Statement</h1>
            <div id="header" class="report_style">
                <h1>{companyName}</h1>
                <h2>Income Statement</h2>
                <h2>{date}</h2>
            </div>
            <div id="income_statement" class="report_style">
                <table id="income_statement_table">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="account_name_column">Revenues</td>
                        <td></td>
                    </tr>
                    {% for r_acount in r_accounts %}
                    <tr>
                        <td class="account_name_column"><span style="margin-left: 50px">{{ r_acount.name }}</span></td>
                        <td class="money_value">{{ "${:,.2f}".format(r_acount.balance) }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="account_name_column">Total Revenue</td>
                        <td class="total">{{ "${:,.2f}".format(total_revenue) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="account_name_column">Expenses</td>
                        <td></td>
                    </tr>
                    {% for exp_account in exp_accounts %}
                    <tr>
                        <td class="account_name_column"><span style="margin-left: 50px">{{ exp_account.name }}</span></td>
                        <td class="money_value">{{ "${:,.2f}".format(exp_account.balance) }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="account_name_column">Total Expenses</td>
                        <td class="total">{{ "${:,.2f}".format(total_expenses) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="account_name_column">Net Income</td>
                        <td id="net_total">{{ "${:,.2f}".format(total_netIncome) }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endblock %}