<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>New Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename= 'resources/css/pagestyle.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename= 'files/new_password/styles.css')}}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename= 'files/new_password/data.js') }}"></script>
  </head>
  <body>
    <div id="base" class="">
		
	  <!-- OmegaFianceLbl (Rectangle) -->
      <div id="omegalbl" class="ax_default heading_1" data-label="OmegaFianceLbl">
        <div id="omegalbl_div" class=""></div>
        <div id="omegalbl_text" class="text ">
          <p><span>Omega Finance</span></p>
        </div>
      </div>

      <!-- Omega Icon (Image) -->
      <div id="omegaicon" class="ax_default image">
        <img id="omegaicon_img" class="img " src="{{ url_for('static', filename= 'images/new_password/regen/u7.png')}}"/>
        <div id="omegaicon_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>	

      <!-- LoginBox (Rectangle) -->
      <div id="loginbx" class="ax_default box_3" data-label="LoginBox">
        <div id="loginbx_div" class=""></div>
        <div id="loginbx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
	  <!-- Password Retrieval (Rectangle) -->
      <div id="passwordlbl" class="ax_default heading_2" data-label="Password Retrieval">
        <div id="passwordlbl_div" class=""></div>
        <div id="passwordlbl_text" class="text ">
          <p><span>Password Retrieval </span></p>
        </div>
      </div>
	  <form method="post">
		<!-- Errorlbl (Rectangle) -->
      <div id="passwordused" class="ax_default label" data-label="Errorlbl">
        <div id="passwordused_div" class=""></div>
        <div id="passwordused_text" class="text ">
          <p><span id="error_message">{{ error_message }}</span><span id="error_message2" style="display: none">{{ error_message2 }}</span></p>
        </div>
      </div>

      <!-- NewPassword (Text Field) -->
      <div id="password1" class="ax_default text_field" data-label="NewPassword">
        <div id="password1_div" class=""></div>
        <input id="password1_input" type="password" value="" name="password1" placeholder="New Password" oninput="validPassword()" class="u1_input"/>
      </div>
		
	  <!-- Errorlbl (Rectangle) -->
      <div id="passwordconstlbl" class="ax_default label" data-label="Errorlbl">
        <div id="passwordconstlbl_div" class=""></div>
        <div id="passwordconstlbl_text" class="text ">
          <p><span>Password Must Contain:</span></p>
        </div>
      </div>

      <!-- Errorlbl (Rectangle) -->
      <div id="password8char" class="ax_default label" data-label="Errorlbl">
        <div id="password8char_div" class=""></div>
        <div id="password8char_text" class="text ">
          <p><span>At least 8 characters</span></p>
        </div>
      </div>

      <!-- Errorlbl (Rectangle) -->
      <div id="passwordcap" class="ax_default label" data-label="Errorlbl">
        <div id="passwordcap_div" class=""></div>
        <div id="passwordcap_text" class="text ">
          <p><span>At least 1 capital letter</span></p>
        </div>
      </div>

      <!-- Errorlbl (Rectangle) -->
      <div id="passwordnum" class="ax_default label" data-label="Errorlbl">
        <div id="passwordnum_div" class=""></div>
        <div id="passwordnum_text" class="text ">
          <p><span>At least 1 number</span></p>
        </div>
      </div>

      <!-- Errorlbl (Rectangle) -->
      <div id="passwordspec" class="ax_default label" data-label="Errorlbl">
        <div id="passwordspec_div" class=""></div>
        <div id="passwordspec_text" class="text ">
          <p><span>At least 1 special character</span></p>
        </div>
      </div>

      <!-- ConfirmNewPassword (Text Field) -->
      <div id="password2" class="ax_default text_field" data-label="ConfirmNewPassword">
        <div id="password2_div" class=""></div>
        <input id="password2_input" type="password" value="" oninput="passwordMatch()" name="password2" placeholder="Retype Password" class="u2_input"/>
      </div>
		
		<!-- Errorlbl (Rectangle) -->
      <div id="passwordmatch" class="ax_default label" data-label="Errorlbl">
        <div id="passwordmatch_div" class=""></div>
        <div id="passwordmatch_text" class="text ">
          <p><span>Password must match</span></p>
        </div>
      </div>

      <!-- CreateNewPasswordButton (Rectangle) -->
      <div id="createbtn" class="ax_default button" data-label="CreateNewPasswordButton">
        <input type="button" value="Submit Password" style="width: 100%; color: white; background-color: #2A7F62" onclick="checkValid()">
          <input id="submit_btn" type="submit" style="display: none">
      </div>

      <!-- registerHereLink (Rectangle) -->
      <div id="clear" class="ax_default link_button" data-label="registerHereLink">
        <div id="clear_div" class=""></div>
        <div id="clear_text" class="text ">
            <input class="new_password_btn" type="button" value="Cancel" style="background-color: #1E98D7; color: white;" onclick="window.location.replace({{ url_for('login_page') }})">
            <input class="new_password_btn" type="reset" style="background-color: red; color:white">
        </div>
      </div>
      </form>
    </div>
  </body>
</html>
