<!DOCTYPE html>
<html>
  <head>
    <title>Security Questions</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename = 'resources/css/axure_rp_page.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename = 'data/styles.css')}}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename = 'files/security_questions/styles.css')}}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">

		<!-- Omega Finance Label (Rectangle) -->
      <div id="omegalbl" class="ax_default heading_1">
        <div id="omegalbl_div" class=""></div>
        <div id="omegalbl_text" class="text ">
          <p><span>Omega Finance</span></p>
        </div>
      </div>
		
		<!-- Omega Icon (Image) -->
      <div id="omegaicon" class="ax_default image">
        <img id="omegaicon_img" class="img " src="{{ url_for('static', filename = 'images/security_questions/regen/u17.png')}}"/>
      </div>
		
      <!-- backgroundbx (Rectangle) -->
      <div id="backgroundbx" class="ax_default box_3">
        <div id="backgroundbx_div" class=""></div>
        <div id="backgroundbx_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      
      <!-- Security Questions Label (Rectangle) -->
      <div id="sequrityquestionlbl" class="ax_default heading_2">
        <div id="sequrityquestionlbl_div" class=""></div>
        <div id="sequrityquestionlbl_text" class="text ">
          <p><span>Security Questions</span></p>
        </div>
      </div>
		
		<!-- Direction Label (Rectangle) -->
      <div id="directionlbl" class="ax_default label">
        <div id="directionlbl_div" class=""></div>
        <div id="directionlbl_text" class="text ">
          <p><span>Select three security questions below. In the case that you forget your password this will help us verify your identity.</span></p>
        </div>
      </div>
      <form method="post">
      <!-- Security Question Label (Rectangle) -->
      <div id="securityques1lbl" class="ax_default label">
        <div id="securityques1lbl_div" class=""></div>
        <div id="securityques1lbl_text" class="text ">
          <p><span>Security Question</span></p>
        </div>
      </div>
		
		<!-- NewUserSecurityQuestion2 (Droplist) -->
      <div id="securityquesdp" class="ax_default droplist" data-label="NewUserSecurityQuestion2">
        <div id="securityquesdp_div" class=""></div>
        <select id="securityquesdp_input" class="u7_input" name="question1">
          <option class="securityquesdp_input_option" selected value="Select One">Select One</option>
          <option class="securityquesdp_input_option" value="What is the name if the city you were born?">What is the name if the city you were born?</option>
          <option class="securityquesdp_input_option" value="What is the name of your favorite pet?">What is the name of your favorite pet?</option>
          <option class="securityquesdp_input_option" value="What is your mother's maiden name?">What is your mother's maiden name?</option>
          <option class="securityquesdp_input_option" value="What high school did you attend?">What high school did you attend?</option>
          <option class="securityquesdp_input_option" value="What is the name of your first school?">What is the name of your first school?</option>
          <option class="securityquesdp_input_option" value="What was the make of your first car?">What was the make of your first car?</option>
          <option class="securityquesdp_input_option" value="What was your favorite food as a child?">What was your favorite food as a child?</option>
        </select>
      </div>

      <!-- Answer 1 (Rectangle) -->
      <div id="answer1lbl" class="ax_default label">
        <div id="answer1lbl_div" class=""></div>
        <div id="answer1lbl_text" class="text ">
          <p><span>Answer</span></p>
        </div>
      </div>
		
		<!-- NewUserAnswer1 (Text Field) -->
      <div id="answer1" class="ax_default text_field" data-label="NewUserAnswer1">
        <div id="answer1_div" class=""></div>
        <input id="answer1_input" type="text" value="" class="u4_input" name="answer1" required/>
      </div>

		<!-- Security Question2 (Rectangle) -->
      <div id="securityquest2" class="ax_default label">
        <div id="securityquest2_div" class=""></div>
        <div id="securityquest2_text" class="text ">
          <p><span>Security Question</span></p>
        </div>
      </div>

      <!-- NewUserSecurityQuestion2 (Droplist) -->
      <div id="securityquest2dp" class="ax_default droplist" data-label="NewUserSecurityQuestion2">
        <div id="securityquest2dp_div" class=""></div>
        <select id="securityquest2dp_input" class="u11_input" name="question2">
          <option class="securityquest2dp_input_option" selected value="Select One">Select One</option>
          <option class="securityquest2dp_input_option" value="What is your favorite fast food?">What is your favorite food?</option>
          <option class="securityquest2dp_input_option" value="What is the name of your firstborn?">What is the name of your firstborn?</option>
          <option class="securityquest2dp_input_option" value="Where was your honeymoon?">Where was your honeymoon?</option>
          <option class="securityquest2dp_input_option" value="What is the name of your favorite movie?">What is the name of your favorite movie?</option>
          <option class="securityquest2dp_input_option" value="When did you graduate from college?">When did you graduate from college?</option>
          <option class="securityquest2dp_input_option" value="What was the color of your first car?">What was the color of your first car?</option>
        </select>
      </div>
		
		<!-- Answer 2 (Rectangle) -->
      <div id="answer2lbl" class="ax_default label">
        <div id="answer2lbl_div" class=""></div>
        <div id="answer2lbl_text" class="text ">
          <p><span>Answer</span></p>
        </div>
      </div>
		
		<!-- NewUserAnswer2 (Text Field) -->
      <div id="answer2" class="ax_default text_field" data-label="NewUserAnswer2">
        <div id="answer2_div" class=""></div>
        <input id="answer2_input" type="text" value="" class="u8_input" name="answer2" required/>
      </div>

      <!-- SQ3 (Rectangle) -->
      <div id="securityquest3" class="ax_default label" data-label="SQ3">
        <div id="securityquest3_div" class=""></div>
        <div id="securityquest3_text" class="text ">
          <p><span>Security Question</span></p>
        </div>
      </div>
		
		<!-- NewUserSecurityQuestion3 (Droplist) -->
      <div id="securityquest3dp" class="ax_default droplist" data-label="NewUserSecurityQuestion3">
        <div id="securityquest3dp_div" class=""></div>
        <select id="securityquest3dp_input" class="u15_input" name="question3">
          <option class="securityquest3dp_input_option" selected value="Select One">Select One</option>
          <option class="securityquest3dp_input_option" value="What is your favorite drink?">What is your favorite drink?</option>
          <option class="securityquest3dp_input_option" value="What was your first pet">What was your first pet?</option>
          <option class="securityquest3dp_input_option" value="What is your grandmother's maiden name?">What is your grandmother's maiden name?</option>
          <option class="securityquest3dp_input_option" value="What was your high school mascot?">What was your high school mascot?</option>
          <option class="securityquest3dp_input_option" value="What was the model of your first computer?">What was the model of your first computer?</option>
          <option class="securityquest3dp_input_option" value="What is your favorite dessert?">What is your favorite dessert?</option>
        </select>
      </div>

      <!-- Answer 3 (Rectangle) -->
      <div id="answer3lbl" class="ax_default label">
        <div id="answer3lbl_div" class=""></div>
        <div id="answer3lbl_text" class="text ">
          <p><span>Answer</span></p>
        </div>
      </div>
		
		<!-- NewUserAnswer3 (Text Field) -->
      <div id="answer3" class="ax_default text_field" data-label="NewUserAnswer3">
        <div id="answer3_div" class=""></div>
        <input id="answer3_input" type="text" value="" class="u12_input" name="answer3" required/>
      </div>

      <!-- Clear Button (Rectangle) -->
      <div id="clearbtn" class="ax_default button" data-label="SubmitSecurityQuestion">
        <div id="clearbtn_div" class=""></div>
        <div id="clearbtn_text" class="text ">
          <p><span>Clear</span></p>
        </div>
      </div>
		
		<!-- SubmitSecurityQuestion Button (Rectangle) -->
      <div id="submitbtn" class="ax_default button" data-label="SubmitSecurityQuestion">
        <input type="submit" value="Submit" style="width: 100%; background-color: #2A7F62; color: white">
      </div>
      </form>
    </div>
  </body>
</html>
