#recentaccounts {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#raccountbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:249px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#raccountbx {
  border-width:0px;
  position:absolute;
  left:377px;
  top:164px;
  width:1060px;
  height:249px;
  display:flex;
}
#raccountbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#raccountbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#raccountlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#raccountlbl {
  border-width:0px;
  position:absolute;
  left:393px;
  top:168px;
  width:400px;
  height:33px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#raccountlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#raccountlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#raccountstable {
  position: inherit;
  left:393px;
  top:200px;
  width: 500px;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}
tr:nth-child(odd){
  background: #DDECF5;

}
tr {
  border-bottom: 1px solid black;
}
th {
  background-color: white;
}
#newusergrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#newuserbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:249px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#newuserbx {
  border-width:0px;
  position:absolute;
  left:377px;
  top:426px;
  width:1060px;
  height:249px;
  display:flex;
}
#newuserbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#newuserbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#newuserlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#newuserlbl {
  border-width:0px;
  position:absolute;
  left:393px;
  top:437px;
  width:400px;
  height:31px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#newuserlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#newuserlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#newusertable {
  position: inherit;
  left:393px;
  top:470px;
  width: 500px;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}
#searchgrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#searchtxt_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:2px 2px 2px 48px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#searchtxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt {
  border-width:0px;
  position:absolute;
  left:970px;
  top:51px;
  width:356px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#searchtxt_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.mouseOver {
}
#searchtxt_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.focused {
}
#searchtxt_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.hint {
}
#searchtxt_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.mouseOver.hint {
}
#searchtxt_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#searchtxt.focused.hint {
}
#searchicon_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#searchicon {
  border-width:0px;
  position:absolute;
  left:982px;
  top:54px;
  width:24px;
  height:24px;
  display:flex;
}
#searchicon .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#searchicon_img.selected {
}
#searchicon.selected {
}
#searchicon_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#rusersgrp {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#ruserbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:249px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#ruserbx {
  border-width:0px;
  position:absolute;
  left:377px;
  top:688px;
  width:1060px;
  height:249px;
  display:flex;
}
#ruserbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#ruserbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#ruserlbl_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#ruserlbl {
  border-width:0px;
  position:absolute;
  left:393px;
  top:692px;
  width:400px;
  height:31px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#ruserlbl .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#ruserlbl_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#rusertable {
  position: inherit;
  left:393px;
  top:730px;
  width: 500px;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}
#aboutlink_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat SemiBold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#043F60;
}
#aboutlink {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1100px;
  width:45px;
  height:18px;
  display:flex;
  font-family:"Montserrat SemiBold", "Montserrat Regular", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#043F60;
}
#aboutlink .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#aboutlink_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#searchbtn_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 231, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#searchbtn {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:51px;
  width:108px;
  height:30px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#searchbtn .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#searchbtn_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}
#dashboardbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:244px;
  background:inherit;
  background-color:rgba(247, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#dashboardbx {
  border-width:0px;
  position:absolute;
  left:377px;
  top:948px;
  width:1060px;
  height:244px;
  display:flex;
}
#dashboardbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#dashboardbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#dashboardtxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#dashboardtxt {
  border-width:0px;
  position:absolute;
  left:393px;
  top:959px;
  width:125px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#043F60;
}
#dashboardtxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#dashboardtxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#currentratiobx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#currentratiobx {
  border-width:0px;
  position:absolute;
  left:518px;
  top:986px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#currentratiobx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#currentratiobx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#assetturnoverbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#assetturnoverbx {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1098px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#assetturnoverbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#assetturnoverbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#quickratiobx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#quickratiobx {
  border-width:0px;
  position:absolute;
  left:824px;
  top:986px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#quickratiobx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#quickratiobx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#netprofitmargin_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#netprofitmargin {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1098px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#netprofitmargin .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#netprofitmargin_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonassetsbx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonassetsbx {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:986px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonassetsbx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#returnonassetsbx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonequitybx_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
  background:inherit;
  background-color:rgba(42, 127, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonequitybx {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:1098px;
  width:206px;
  height:75px;
  display:flex;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#F7F7FF;
}
#returnonequitybx .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#returnonequitybx_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#currentratiotxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#currentratiotxt {
  border-width:0px;
  position:absolute;
  left:559px;
  top:958px;
  width:125px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#currentratiotxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#currentratiotxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#quickratiotxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#quickratiotxt {
  border-width:0px;
  position:absolute;
  left:874px;
  top:958px;
  width:106px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#quickratiotxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#quickratiotxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonassetstxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonassetstxt {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:958px;
  width:156px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonassetstxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#returnonassetstxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#returnonentitytxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonentitytxt {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:1070px;
  width:156px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#returnonentitytxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#returnonentitytxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#netprofitmargintxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#netprofitmargintxt {
  border-width:0px;
  position:absolute;
  left:845px;
  top:1070px;
  width:164px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#netprofitmargintxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#netprofitmargintxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#assetturnovertxt_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#assetturnovertxt {
  border-width:0px;
  position:absolute;
  left:551px;
  top:1070px;
  width:141px;
  height:28px;
  display:flex;
  font-family:"Merriweather-Bold", "Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#043F60;
}
#assetturnovertxt .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#assetturnovertxt_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
